<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CoreMIDIServer.plist</string>
	<string>com.apple.AOSNotificationOSX.plist</string>
	<string>com.apple.ATSServer.plist</string>
	<string>com.apple.AddressBook.abd.plist</string>
	<string>com.apple.AirPortBaseStationAgent.plist</string>
	<string>com.apple.DictionaryPanelAgent.plist</string>
	<string>com.apple.FileSyncAgent.plist</string>
	<string>com.apple.FontValidator.plist</string>
	<string>com.apple.FontValidatorConduit.plist</string>
	<string>com.apple.KerberosHelper.LKDCHelper.plist</string>
	<string>com.apple.NetworkDiagnostics.plist</string>
	<string>com.apple.PCIESlotCheck.plist</string>
	<string>com.apple.PreferenceSyncAgent.plist</string>
	<string>com.apple.ProblemReporter.plist</string>
	<string>com.apple.PubSub.Agent.plist</string>
	<string>com.apple.RemoteDesktop.plist</string>
	<string>com.apple.RemoteUI.plist</string>
	<string>com.apple.ReportCrash.SafetyNet.plist</string>
	<string>com.apple.ReportCrash.plist</string>
	<string>com.apple.ReportPanic.plist</string>
	<string>com.apple.ScreenSharing.plist</string>
	<string>com.apple.ServerScanner.plist</string>
	<string>com.apple.Spotlight.plist</string>
	<string>com.apple.UserEventAgent-Aqua.plist</string>
	<string>com.apple.UserEventAgent-LoginWindow.plist</string>
	<string>com.apple.alf.useragent.plist</string>
	<string>com.apple.coremedia.videodecoder.plist</string>
	<string>com.apple.coreservices.uiagent.plist</string>
	<string>com.apple.dotmac.dmnotifyd.plist</string>
	<string>com.apple.dotmacsync.uihandler.plist</string>
	<string>com.apple.familycontrols.useragent.plist</string>
	<string>com.apple.gssd-agent.plist</string>
	<string>com.apple.helpdata.plist</string>
	<string>com.apple.imklaunchagent.plist</string>
	<string>com.apple.installdb.user.plist</string>
	<string>com.apple.java.updateSharing.plist</string>
	<string>com.apple.metadata.mdwrite.plist</string>
	<string>com.apple.netauth.useragent.plist</string>
	<string>com.apple.pboard.plist</string>
	<string>com.apple.pbs.plist</string>
	<string>com.apple.pictd.plist</string>
	<string>com.apple.qtkitserver.plist</string>
	<string>com.apple.quicklook.plist</string>
	<string>com.apple.scrod.plist</string>
	<string>com.apple.seatbelt.compiler.plist</string>
	<string>com.apple.syncservices.SyncServer.plist</string>
	<string>com.apple.syncservices.uihandler.plist</string>
	<string>edu.mit.Kerberos.CCacheServer.plist</string>
	<string>edu.mit.Kerberos.KerberosAgent.plist</string>
	<string>org.openbsd.ssh-agent.plist</string>
	<string>org.x.startx.plist</string>
	<string>bootps.plist</string>
	<string>com.apple.ATSServer.plist</string>
	<string>com.apple.AppleFileServer.plist</string>
	<string>com.apple.CoreRAID.plist</string>
	<string>com.apple.DirectoryServices.plist</string>
	<string>com.apple.DirectoryServicesLocal.plist</string>
	<string>com.apple.DumpPanic.plist</string>
	<string>com.apple.FileSyncAgent.sshd.plist</string>
	<string>com.apple.IFCStart.plist</string>
	<string>com.apple.IIDCAssistant.plist</string>
	<string>com.apple.InternetSharing.plist</string>
	<string>com.apple.KerberosAutoConfig.plist</string>
	<string>com.apple.KernelEventAgent.plist</string>
	<string>com.apple.ODSAgent.plist</string>
	<string>com.apple.PCIELaneConfigTool.plist</string>
	<string>com.apple.RFBEventHelper.plist</string>
	<string>com.apple.RFBRegisterMDNS_RemoteManagement.plist</string>
	<string>com.apple.RFBRegisterMDNS_ScreenSharing.plist</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy.plist</string>
	<string>com.apple.ReportCrash.DirectoryService.plist</string>
	<string>com.apple.ReportCrash.SafetyNet.plist</string>
	<string>com.apple.ReportCrash.plist</string>
	<string>com.apple.SystemStarter.plist</string>
	<string>com.apple.UserNotificationCenter.plist</string>
	<string>com.apple.WindowServer.plist</string>
	<string>com.apple.airport.wps</string>
	<string>com.apple.airportPrefsUpdater.plist</string>
	<string>com.apple.airportd.plist</string>
	<string>com.apple.alf.agent.plist</string>
	<string>com.apple.aslmanager.plist</string>
	<string>com.apple.atrun.plist</string>
	<string>com.apple.audio.coreaudiod.plist</string>
	<string>com.apple.autofsd.plist</string>
	<string>com.apple.automountd.plist</string>
	<string>com.apple.backupd-attach.plist</string>
	<string>com.apple.backupd-auto.plist</string>
	<string>com.apple.backupd-wake.plist</string>
	<string>com.apple.backupd.plist</string>
	<string>com.apple.blued.plist</string>
	<string>com.apple.bootlog.plist</string>
	<string>com.apple.bsd.dirhelper.plist</string>
	<string>com.apple.configd.plist</string>
	<string>com.apple.configureLocalKDC.plist</string>
	<string>com.apple.coreservicesd.plist</string>
	<string>com.apple.dashboard.advisory.fetch.plist</string>
	<string>com.apple.diskarbitrationd.plist</string>
	<string>com.apple.distnoted.plist</string>
	<string>com.apple.dnsextd.plist</string>
	<string>com.apple.docsetinstalld.plist</string>
	<string>com.apple.dyld.plist</string>
	<string>com.apple.dynamic_pager.plist</string>
	<string>com.apple.efax.plist</string>
	<string>com.apple.familycontrols.plist</string>
	<string>com.apple.firmwaresyncd.plist</string>
	<string>com.apple.fseventsd.plist</string>
	<string>com.apple.gssd.plist</string>
	<string>com.apple.hdiejectd.plist</string>
	<string>com.apple.hidd.plist</string>
	<string>com.apple.installdb.system.plist</string>
	<string>com.apple.kdcmond.plist</string>
	<string>com.apple.kdumpd.plist</string>
	<string>com.apple.kextd.plist</string>
	<string>com.apple.kuncd.plist</string>
	<string>com.apple.lockd.plist</string>
	<string>com.apple.loginwindow.plist</string>
	<string>com.apple.mDNSResponder.plist</string>
	<string>com.apple.mDNSResponderHelper.plist</string>
	<string>com.apple.metadata.mds.plist</string>
	<string>com.apple.netauth.sysagent.plist</string>
	<string>com.apple.newsyslog.plist</string>
	<string>com.apple.nfsd.plist</string>
	<string>com.apple.nis.rpc.yppasswdd.plist</string>
	<string>com.apple.nis.ypbind.plist</string>
	<string>com.apple.nis.ypserv.plist</string>
	<string>com.apple.notifyd.plist</string>
	<string>com.apple.ocspd.plist</string>
	<string>com.apple.pcastagentd.plist</string>
	<string>com.apple.periodic-daily.plist</string>
	<string>com.apple.periodic-monthly.plist</string>
	<string>com.apple.periodic-weekly.plist</string>
	<string>com.apple.portmap.plist</string>
	<string>com.apple.scsid.plist</string>
	<string>com.apple.seatbelt.compilerd.plist</string>
	<string>com.apple.securityd.plist</string>
	<string>com.apple.service_helper.plist</string>
	<string>com.apple.smb.server.preferences.plist</string>
	<string>com.apple.smbfs_load_kext.plist</string>
	<string>com.apple.spindump.plist</string>
	<string>com.apple.stackshot.plist</string>
	<string>com.apple.statd.notify.plist</string>
	<string>com.apple.syslogd.plist</string>
	<string>com.apple.systemkeychain.plist</string>
	<string>com.apple.taskgated.plist</string>
	<string>com.apple.update.plist</string>
	<string>com.apple.usbmuxd.plist</string>
	<string>com.apple.uucp.plist</string>
	<string>com.apple.webfilter.plist</string>
	<string>com.apple.xgridagentd.plist</string>
	<string>com.apple.xgridcontrollerd.plist</string>
	<string>com.vix.cron.plist</string>
	<string>comsat.plist</string>
	<string>eppc.plist</string>
	<string>exec.plist</string>
	<string>finger.plist</string>
	<string>ftp.plist</string>
	<string>login.plist</string>
	<string>nmbd.plist</string>
	<string>ntalk.plist</string>
	<string>org.amavis.amavisd.plist</string>
	<string>org.amavis.amavisd_cleanup.plist</string>
	<string>org.apache.httpd.plist</string>
	<string>org.cups.cups-lpd.plist</string>
	<string>org.cups.cupsd.plist</string>
	<string>org.isc.named.plist</string>
	<string>org.net-snmp.snmpd.plist</string>
	<string>org.ntp.ntpd.plist</string>
	<string>org.postfix.master.plist</string>
	<string>org.samba.winbindd.plist</string>
	<string>org.x.privileged_startx.plist</string>
	<string>shell.plist</string>
	<string>smbd.plist</string>
	<string>ssh.plist</string>
	<string>telnet.plist</string>
	<string>tftp.plist</string>
</array>
</plist>
