<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.finder.ServiceProvider</string>
	<string>com.apple.FontRegistry.FontRegistryUIAgent</string>
	<string>com.apple.FontObjectsServer</string>
	<string>com.apple.rcd</string>
	<string>com.apple.netauth.useragent</string>
	<string>com.apple.datadetectors.compiler</string>
	<string>com.apple.autologinPWHandler</string>
	<string>com.apple.FontWorker</string>
	<string>com.apple.ReportCrash</string>
	<string>com.apple.coreservices.quarantine-resolver</string>
	<string>com.apple.DictionaryPanelHelper</string>
	<string>com.apple.loginwindow.ScreenSaverDaemon</string>
	<string>com.apple.RemoteUI</string>
	<string>com.apple.inputswitcher.stop</string>
	<string>com.apple.quicklook</string>
	<string>com.apple.BezelServices</string>
	<string>edu.mit.Kerberos.KerberosAgent.ipcLookup</string>
	<string>com.apple.installd.user</string>
	<string>com.apple.pasteboard.1</string>
	<string>com.apple.inputmethodkit.launchagent</string>
	<string>com.apple.FontServer</string>
	<string>com.apple.AOSNotification</string>
	<string>com.apple.BezelUI</string>
	<string>com.apple.cvmsCompAgent_ppc</string>
	<string>com.apple.syncservices.uihandler</string>
	<string>com.apple.inputmethodkit.launcher</string>
	<string>com.apple.FontWorker.ATS</string>
	<string>com.apple.FileSyncAgent.phd</string>
	<string>com.apple.tsm.uiserver</string>
	<string>com.apple.FileSyncAgent.isRunning</string>
	<string>com.apple.SecurityServer</string>
	<string>com.apple.systemuiserver.ServiceProvider</string>
	<string>com.apple.storeagent</string>
	<string>com.apple.java.updateSharing</string>
	<string>com.apple.dock.server</string>
	<string>com.apple.CoreLocation.agent</string>
	<string>com.apple.loginwindow.notify</string>
	<string>com.apple.pubsub.notification</string>
	<string>com.apple.metadata_mdwrite</string>
	<string>com.apple.coreservices.launcherror-handler</string>
	<string>com.apple.KerberosHelper.LKDCHelper</string>
	<string>com.apple.crashreporter.appusage</string>
	<string>com.apple.VoiceOver.startup</string>
	<string>com.apple.helpd</string>
	<string>com.apple.familycontrols.useragent</string>
	<string>FUSServer</string>
	<string>com.apple.inputswitcher.startup</string>
	<string>com.apple.ATS.FontValidatorConduit</string>
	<string>com.apple.store_helper</string>
	<string>com.apple.pubsub.ipc</string>
	<string>com.apple.ScreenSaverDaemon</string>
	<string>com.apple.gssd-agent</string>
	<string>com.apple.cvmsCompAgent_x86_64</string>
	<string>com.apple.midiserver</string>
	<string>com.apple.midiserver.io</string>
	<string>com.apple.alf.useragent</string>
	<string>com.apple.cvmsCompAgent_i386</string>
	<string>com.apple.tiswitcher.disableinput</string>
	<string>com.apple.WebKit.PluginAgent</string>
	<string>com.apple.AddressBook.abd</string>
	<string>com.apple.TrustEvaluationAgent</string>
	<string>edu.mit.Kerberos.KerberosAgent.ipcService</string>
	<string>com.apple.VoiceOver.running</string>
	<string>com.apple.DictionaryPanelHelper.reply</string>
	<string>com.apple.coremedia.videodecoder</string>
	<string>com.apple.FileSyncAgent</string>
	<string>com.apple.inputswitcher.running</string>
	<string>com.apple.ipodserver</string>
	<string>com.apple.scrod</string>
	<string>com.apple.RemoteDesktop.agent</string>
	<string>com.apple.pbs.fetch_services</string>
	<string>Apple80211Agent</string>
	<string>com.apple.unmountassistant.useragent</string>
	<string>com.apple.SUISMessaging</string>
	<string>com.apple.syncservices.SyncServer</string>
	<string>com.apple.ScreenReaderUIServer</string>
	<string>com.apple.windowserver.session</string>
	<string>com.apple.servernotifyd</string>
	<string>com.apple.NetworkDiagnostic.agent</string>
	<string>com.apple.ATS.FontValidator</string>
	<string>edu.mit.Kerberos.CCacheServer.ipcService</string>
	<string>com.apple.FileSyncAgent.messages</string>
	<string>com.apple.SchedulerUpdateNotificationPort</string>
	<string>com.apple.dockextra.server</string>
	<string>com.apple.ReportCrash.Self</string>
	<string>com.apple.dockling.server</string>
	<string>edu.mit.Kerberos.CCacheServer.ipcLookup</string>
	<string>ru</string>
	<string>en_AU</string>
	<string>en_CA</string>
	<string>en_GB</string>
	<string>es</string>
	<string>en_US</string>
	<string>Multilingual</string>
	<string>it</string>
	<string>pt_PT</string>
	<string>da</string>
	<string>en</string>
	<string>fr</string>
	<string>pt_BR</string>
	<string>FUSServer</string>
	<string>sv</string>
	<string>de</string>
	<string>nl</string>
	<string>pt</string>
	<string>com.apple.locationd.registration</string>
	<string>com.apple.iohideventsystem</string>
	<string>com.apple.system.logger</string>
	<string>com.apple.applepushserviced</string>
	<string>com.apple.familycontrols</string>
	<string>com.apple.spinreportersymbolicatord</string>
	<string>com.apple.preferences.timezone.admintool</string>
	<string>com.apple.cvmsServ</string>
	<string>com.apple.SystemConfiguration.configd</string>
	<string>com.apple.airport.updateprefs</string>
	<string>com.apple.IIDCAssistant</string>
	<string>com.apple.pcastagentconfigd</string>
	<string>com.apple.metadata.mds</string>
	<string>com.apple.locationd.agent</string>
	<string>com.apple.docset.install</string>
	<string>com.apple.dashboard.advisoryd</string>
	<string>com.apple.bsd.launchdadd</string>
	<string>com.apple.familycontrols.authorizer</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy</string>
	<string>com.apple.bsd.dirhelper</string>
	<string>com.apple.netauth.sysagent</string>
	<string>com.apple.audio.coreaudiod</string>
	<string>com.apple.automountd</string>
	<string>com.apple.smbfs_load_kext</string>
	<string>com.apple.auditd</string>
	<string>com.apple.backupd-status</string>
	<string>com.apple.iokit.scsid</string>
	<string>com.apple.RFBEventHelper</string>
	<string>com.apple.CoreRAID</string>
	<string>com.apple.appleprofilepolicyd</string>
	<string>com.apple.instruments.tfp</string>
	<string>com.apple.PowerManagement.control</string>
	<string>com.apple.airport.wps</string>
	<string>com.apple.systempreferences.installAssistantConnection</string>
	<string>com.apple.lockd</string>
	<string>com.apple.SystemConfiguration.PPPController</string>
	<string>com.apple.suhelperd</string>
	<string>com.apple.dvdplayback.setregion_service</string>
	<string>com.apple.diskmanagementd</string>
	<string>com.apple.taskgated</string>
	<string>com.apple.warmd.server</string>
	<string>com.apple.distributed_notifications.2</string>
	<string>com.apple.system.DirectoryService.membership_v1</string>
	<string>com.apple.service_helper</string>
	<string>com.apple.KernelExtensionServer</string>
	<string>com.apple.network.IPConfiguration</string>
	<string>com.apple.instruments.activity</string>
	<string>com.apple.BluetoothNILServer</string>
	<string>com.apple.installd</string>
	<string>com.apple.mDNSResponder</string>
	<string>com.apple.windowserver</string>
	<string>com.apple.dpd</string>
	<string>com.apple.BluetoothDOServer</string>
	<string>com.apple.KerberosAutoConfig</string>
	<string>com.apple.ReportCrash.DirectoryService</string>
	<string>com.apple.proxyhelper</string>
	<string>com.apple.alf</string>
	<string>com.apple.preferences.timezone.auto</string>
	<string>com.apple.UNCUserNotification</string>
	<string>com.apple.system.Kernel[UNC]Notifications</string>
	<string>com.apple.instruments.dtraced</string>
	<string>com.apple.mDNSResponderHelper</string>
	<string>com.apple.DirectoryService.localonly</string>
	<string>com.apple.webdavfs_load_kext</string>
	<string>com.apple.system.hdiejectd</string>
	<string>com.apple.spinreporterd</string>
	<string>com.apple.storereceiptinstaller</string>
	<string>com.apple.DirectoryService</string>
	<string>com.apple.FSEvents</string>
	<string>com.apple.gssd</string>
	<string>com.apple.O3Master</string>
	<string>com.apple.sandboxd</string>
	<string>com.apple.awacs</string>
	<string>com.apple.system.DirectoryService.libinfo_v1</string>
	<string>com.apple.ExpansionSlotUtility.PCIELaneConfigTool</string>
	<string>com.apple.DiskArbitration.diskarbitrationd</string>
	<string>com.apple.locationd.services</string>
	<string>com.apple.airportd</string>
	<string>com.apple.CoreServices.coreservicesd</string>
	<string>com.apple.afpfs_afpLoad</string>
	<string>com.apple.afpfs_checkafp</string>
	<string>com.apple.ocspd</string>
	<string>com.apple.fontmover</string>
	<string>com.apple.network.EAPOLController</string>
	<string>com.apple.instruments.server</string>
	<string>org.x.privileged_startx</string>
	<string>com.apple.backupd</string>
	<string>com.apple.windowserver.active</string>
	<string>com.apple.system.notification_center</string>
</array>
</plist>
