<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.AOSNotificationOSX.plist</string>
	<string>com.apple.AddressBook.SourceSync.plist</string>
	<string>com.apple.AddressBook.abd.plist</string>
	<string>com.apple.AirPortBaseStationAgent.plist</string>
	<string>com.apple.AppStoreUpdateAgent.plist</string>
	<string>com.apple.AppleGraphicsWarning.plist</string>
	<string>com.apple.BezelUI.plist</string>
	<string>com.apple.CoreLocationAgent.plist</string>
	<string>com.apple.DictionaryPanelHelper.plist</string>
	<string>com.apple.DiskArbitrationAgent.plist</string>
	<string>com.apple.Dock.plist</string>
	<string>com.apple.FTCleanup.plist</string>
	<string>com.apple.FileSyncAgent.PHD.plist</string>
	<string>com.apple.FileSyncAgent.iDisk.plist</string>
	<string>com.apple.Finder.plist</string>
	<string>com.apple.FontRegistryUIAgent.plist</string>
	<string>com.apple.FontValidator.plist</string>
	<string>com.apple.FontValidatorConduit.plist</string>
	<string>com.apple.FontWorker.plist</string>
	<string>com.apple.KerberosHelper.LKDCHelper.plist</string>
	<string>com.apple.LaunchServices.lsboxd.plist</string>
	<string>com.apple.NetworkDiagnostics.plist</string>
	<string>com.apple.PCIESlotCheck.plist</string>
	<string>com.apple.PreferenceSyncAgent.plist</string>
	<string>com.apple.PubSub.Agent.plist</string>
	<string>com.apple.ReclaimSpaceAgent.plist</string>
	<string>com.apple.RemoteDesktop.plist</string>
	<string>com.apple.ReportCrash.Self.plist</string>
	<string>com.apple.ReportCrash.plist</string>
	<string>com.apple.ReportGPURestart.plist</string>
	<string>com.apple.ReportPanic.plist</string>
	<string>com.apple.ScreenReaderUIServer.plist</string>
	<string>com.apple.ServiceManagement.LoginItems.plist</string>
	<string>com.apple.SubmitDiagInfo.plist</string>
	<string>com.apple.SystemUIServer.plist</string>
	<string>com.apple.TMLaunchAgent.plist</string>
	<string>com.apple.TrustEvaluationAgent.plist</string>
	<string>com.apple.UserEventAgent-Aqua.plist</string>
	<string>com.apple.UserEventAgent-LoginWindow.plist</string>
	<string>com.apple.UserNotificationCenterAgent-LoginWindow.plist</string>
	<string>com.apple.UserNotificationCenterAgent.plist</string>
	<string>com.apple.VoiceOver.plist</string>
	<string>com.apple.WebKit.PluginAgent.plist</string>
	<string>com.apple.ZoomWindow.plist</string>
	<string>com.apple.alf.useragent.plist</string>
	<string>com.apple.aos.migrate.plist</string>
	<string>com.apple.bluetoothUIServer.plist</string>
	<string>com.apple.btsa.plist</string>
	<string>com.apple.cfnetwork.AuthBrokerAgent.plist</string>
	<string>com.apple.cookied.plist</string>
	<string>com.apple.coredata.externalrecordswriter.plist</string>
	<string>com.apple.coreservices.appleid.authentication.plist</string>
	<string>com.apple.coreservices.appleid.passwordcheck.plist</string>	
	<string>com.apple.coreservices.uiagent.plist</string>
	<string>com.apple.csuseragent.plist</string>
	<string>com.apple.cvmsCompAgent_i386.plist</string>
	<string>com.apple.cvmsCompAgent_x86_64.plist</string>
	<string>com.apple.distnoted.xpc.agent.plist</string>
	<string>com.apple.familycontrols.useragent.plist</string>
	<string>com.apple.findmymacmessenger.plist</string>
	<string>com.apple.fontd.useragent.plist</string>
	<string>com.apple.gssd-agent.plist</string>
	<string>com.apple.helpd.plist</string>
	<string>com.apple.iCalPush.plist</string>
	<string>com.apple.imagent.plist</string>
	<string>com.apple.imklaunchagent.plist</string>
	<string>com.apple.installd.user.plist</string>
	<string>com.apple.isst.plist</string>
	<string>com.apple.java.InstallOnDemand.plist</string>
	<string>com.apple.java.updateSharing.plist</string>
	<string>com.apple.locationmenu.plist</string>
	<string>com.apple.lookupd.plist</string>
	<string>com.apple.marcoagent.plist</string>
	<string>com.apple.mdmclient.agent.plist</string>
	<string>com.apple.mdworker.32bit.0.plist</string>
	<string>com.apple.mdworker.32bit.framework.0.plist</string>
	<string>com.apple.mdworker.isolation.0.plist</string>
	<string>com.apple.mdworker.isolation.framework.0.plist</string>
	<string>com.apple.mdworker.lsb.0.plist</string>
	<string>com.apple.mdworker.lsb.framework.0.plist</string>
	<string>com.apple.mdworker.pool.0.plist</string>
	<string>com.apple.mdworker.pool.1.plist</string>
	<string>com.apple.mdworker.pool.2.plist</string>
	<string>com.apple.mdworker.pool.3.plist</string>
	<string>com.apple.mdworker.pool.framework.0.plist</string>
	<string>com.apple.mdworker.pool.framework.1.plist</string>
	<string>com.apple.mdworker.pool.framework.2.plist</string>
	<string>com.apple.mdworker.pool.framework.3.plist</string>
	<string>com.apple.mdworker.prescan.0.plist</string>
	<string>com.apple.metadata.mdwrite.plist</string>
	<string>com.apple.midiserver.plist</string>
	<string>com.apple.netauth.user.auth.plist</string>
	<string>com.apple.netauth.user.gui.plist</string>
	<string>com.apple.parentalcontrols.check.plist</string>
	<string>com.apple.pboard.plist</string>
	<string>com.apple.pbs.plist</string>
	<string>com.apple.pcastuploader.plist</string>
	<string>com.apple.pictd.plist</string>
	<string>com.apple.printtool.agent.plist</string>
	<string>com.apple.printuitool.agent.plist</string>
	<string>com.apple.quicklook.32bit.plist</string>
	<string>com.apple.quicklook.config.plist</string>
	<string>com.apple.quicklook.plist</string>
	<string>com.apple.quicklook.ui.helper.plist</string>
	<string>com.apple.rcd.plist</string>
	<string>com.apple.safaridavclient.plist</string>
	<string>com.apple.screensharing.agent.plist</string>
	<string>com.apple.scrod.plist</string>
	<string>com.apple.softwareupdateagent.plist</string>
	<string>com.apple.speech.feedbackservicesserver.plist</string>
	<string>com.apple.speech.recognitionserver.plist</string>
	<string>com.apple.speech.synthesisserver.plist</string>
	<string>com.apple.speech.voiceinstallerd.plist</string>
	<string>com.apple.spindump_agent.plist</string>
	<string>com.apple.spindump_starter.plist</string>
	<string>com.apple.store_helper.plist</string>
	<string>com.apple.storeagent.plist</string>
	<string>com.apple.syncservices.SyncServer.plist</string>
	<string>com.apple.syncservices.uihandler.plist</string>
	<string>com.apple.systemprofiler.plist</string>
	<string>com.apple.talagent.plist</string>
	<string>com.apple.tiswitcher.plist</string>
	<string>com.apple.unmountassistant.useragent.plist</string>
	<string>com.apple.warmd_agent.plist</string>
	<string>com.apple.xgridd.keepalive.plist</string>
	<string>com.apple.xgridd.plist</string>
	<string>org.openbsd.ssh-agent.plist</string>
	<string>org.x.startx.plist</string>
	<string>bootps.plist</string>
	<string>com.apple.AOSNotificationFMM.plist</string>
	<string>com.apple.APNBridge.plist</string>
	<string>com.apple.AccountsConfigService.plist</string>
	<string>com.apple.AppleFileServer.plist</string>
	<string>com.apple.CoreRAID.plist</string>
	<string>com.apple.DeviceManagement.SCEPHelper.plist</string>
	<string>com.apple.DiagnosticReportCleanUp.plist</string>
	<string>com.apple.DumpGPURestart.plist</string>
	<string>com.apple.DumpPanic.plist</string>
	<string>com.apple.FileCoordination.plist</string>
	<string>com.apple.FileSyncAgent.sshd.plist</string>
	<string>com.apple.FontWorker.plist</string>
	<string>com.apple.IFCStart.plist</string>
	<string>com.apple.IIDCAssistant.plist</string>
	<string>com.apple.InternetSharing.plist</string>
	<string>com.apple.Kerberos.digest-service.plist</string>
	<string>com.apple.Kerberos.kadmind.plist</string>
	<string>com.apple.Kerberos.kcm.plist</string>
	<string>com.apple.Kerberos.kdc.plist</string>
	<string>com.apple.Kerberos.kpasswdd.plist</string>
	<string>com.apple.KernelEventAgent.plist</string>
	<string>com.apple.ManagedClient.plist</string>
	<string>com.apple.ManagedClient.startup.plist</string>
	<string>com.apple.NetBootClientStatus.plist</string>
	<string>com.apple.NotificationServer.plist</string>
	<string>com.apple.ODSAgent.plist</string>
	<string>com.apple.PCIELaneConfigTool.plist</string>
	<string>com.apple.RFBEventHelper.plist</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy.plist</string>
	<string>com.apple.ReportCrash.Root.plist</string>
	<string>com.apple.SCHelper.plist</string>
	<string>com.apple.SecurityAgent.plist</string>
	<string>com.apple.ServerPerfLog.plist</string>
	<string>com.apple.SystemStarter.plist</string>
	<string>com.apple.TrustEvaluationAgent.system.plist</string>
	<string>com.apple.UserEventAgent-System.plist</string>
	<string>com.apple.UserNotificationCenter.plist</string>
	<string>com.apple.WindowServer.plist</string>
	<string>com.apple.activitymonitord.plist</string>
	<string>com.apple.afpfs_afpLoad.plist</string>
	<string>com.apple.afpfs_checkafp.plist</string>
	<string>com.apple.airport.wps.plist</string>
	<string>com.apple.airportPrefsUpdater.plist</string>
	<string>com.apple.airportd.plist</string>
	<string>com.apple.alf.agent.plist</string>
	<string>com.apple.alf.helper.plist</string>
	<string>com.apple.appleprofilepolicyd.plist</string>
	<string>com.apple.applepushserviced.plist</string>
	<string>com.apple.aslmanager.plist</string>
	<string>com.apple.atrun.plist</string>
	<string>com.apple.audio.coreaudiod.plist</string>
	<string>com.apple.auditd.plist</string>
	<string>com.apple.authorizationhost.plist</string>
	<string>com.apple.autofsd.plist</string>
	<string>com.apple.automountd.plist</string>
	<string>com.apple.avbdeviced.plist</string>
	<string>com.apple.awacsd.plist</string>
	<string>com.apple.backupd-attach.plist</string>
	<string>com.apple.backupd-auto.plist</string>
	<string>com.apple.backupd-wake.plist</string>
	<string>com.apple.backupd.plist</string>
	<string>com.apple.bld.bulletd.plist</string>
	<string>com.apple.blued.plist</string>
	<string>com.apple.bnepd.plist</string>
	<string>com.apple.bsd.dirhelper.plist</string>
	<string>com.apple.bsd.launchdadd.plist</string>
	<string>com.apple.cmio.AVCAssistant.plist</string>
	<string>com.apple.cmio.IIDCVideoAssistant.plist</string>
	<string>com.apple.cmio.VDCAssistant.plist</string>
	<string>com.apple.collabd.podcast-cache-updater.plist</string>
	<string>com.apple.configd.plist</string>
	<string>com.apple.configureLocalKDC.plist</string>
	<string>com.apple.coreservicesd.plist</string>
	<string>com.apple.corestorage.corestoraged.plist</string>
	<string>com.apple.corestorage.corestoragehelperd.plist</string>
	<string>com.apple.cvmsServ.plist</string>
	<string>com.apple.devicemanager.plist</string>
	<string>com.apple.diskarbitrationd.plist</string>
	<string>com.apple.diskmanagementd.plist</string>
	<string>com.apple.distnoted.xpc.daemon.plist</string>
	<string>com.apple.dnsextd.plist</string>
	<string>com.apple.docsetinstalld.plist</string>
	<string>com.apple.dpd.plist</string>
	<string>com.apple.dspluginhelperd.plist</string>
	<string>com.apple.dvdplayback.setregion.plist</string>
	<string>com.apple.dynamic_pager.plist</string>
	<string>com.apple.eapolcfg_auth.plist</string>
	<string>com.apple.efax.plist</string>
	<string>com.apple.efilogin-helper.plist</string>
	<string>com.apple.emlog.plist</string>
	<string>com.apple.emond.plist</string>
	<string>com.apple.eppc.plist</string>
	<string>com.apple.familycontrols.plist</string>
	<string>com.apple.findmymac.plist</string>
	<string>com.apple.findmymacmessenger.plist</string>
	<string>com.apple.firmwaresyncd.plist</string>
	<string>com.apple.fontd.plist</string>
	<string>com.apple.fontmover.plist</string>
	<string>com.apple.fseventsd.plist</string>
	<string>com.apple.gssd.plist</string>
	<string>com.apple.hdiejectd.plist</string>
	<string>com.apple.hidd.plist</string>
	<string>com.apple.hwmond.plist</string>
	<string>com.apple.installd.plist</string>
	<string>com.apple.kcproxy.plist</string>
	<string>com.apple.kdumpd.plist</string>
	<string>com.apple.kextd.plist</string>
	<string>com.apple.kuncd.plist</string>
	<string>com.apple.locate.plist</string>
	<string>com.apple.locationd.plist</string>
	<string>com.apple.lockd.plist</string>
	<string>com.apple.locum.plist</string>
	<string>com.apple.logind.plist</string>
	<string>com.apple.loginwindow.plist</string>
	<string>com.apple.loginwindow.secureerase.plist</string>
	<string>com.apple.mDNSResponder.plist</string>
	<string>com.apple.mDNSResponderHelper.plist</string>
	<string>com.apple.mdmclient.daemon.plist</string>
	<string>com.apple.metadata.mds.plist</string>
	<string>com.apple.metadata.mds.scan.plist</string>
	<string>com.apple.metadata.mds.spindump.plist</string>
	<string>com.apple.msrpc.echosvc.plist</string>
	<string>com.apple.msrpc.lsarpc.plist</string>
	<string>com.apple.msrpc.mdssvc.plist</string>
	<string>com.apple.msrpc.netlogon.plist</string>
	<string>com.apple.msrpc.spoolss.plist</string>
	<string>com.apple.msrpc.srvsvc.plist</string>
	<string>com.apple.msrpc.wkssvc.plist</string>
	<string>com.apple.mtmd.plist</string>
	<string>com.apple.mtmfs.plist</string>
	<string>com.apple.netauth.sys.auth.plist</string>
	<string>com.apple.netauth.sys.gui.plist</string>
	<string>com.apple.netbiosd.plist</string>
	<string>com.apple.newsyslog.plist</string>
	<string>com.apple.nfsd.plist</string>
	<string>com.apple.nis.rpc.yppasswdd.plist</string>
	<string>com.apple.nis.ypbind.plist</string>
	<string>com.apple.nis.ypserv.plist</string>
	<string>com.apple.notifyd.plist</string>
	<string>com.apple.ocspd.plist</string>
	<string>com.apple.odproxyd.plist</string>
	<string>com.apple.opendirectoryd.plist</string>
	<string>com.apple.pcastagentconfigd.plist</string>
	<string>com.apple.pcastagentd.plist</string>
	<string>com.apple.pcastlibraryd.plist</string>
	<string>com.apple.pcastuploader.plist</string>
	<string>com.apple.periodic-daily.plist</string>
	<string>com.apple.periodic-monthly.plist</string>
	<string>com.apple.periodic-weekly.plist</string>
	<string>com.apple.pfctl.plist</string>
	<string>com.apple.platform.ptmd.plist</string>
	<string>com.apple.powerd.plist</string>
	<string>com.apple.preferences.timezone.admintool.plist</string>
	<string>com.apple.preferences.timezone.auto.plist</string>
	<string>com.apple.printtool.daemon.plist</string>
	<string>com.apple.racoon.plist</string>
	<string>com.apple.revisiond.plist</string>
	<string>com.apple.rpcbind.plist</string>
	<string>com.apple.sandboxd.plist</string>
	<string>com.apple.screensharing.plist</string>
	<string>com.apple.scsid.plist</string>
	<string>com.apple.securityd.plist</string>
	<string>com.apple.security.FDERecoveryAgent.plist</string>
	<string>com.apple.servermgrd.plist</string>
	<string>com.apple.shutdown_monitor.plist</string>
	<string>com.apple.shutdown_stall_reporter.plist</string>
	<string>com.apple.smb.preferences.plist</string>
	<string>com.apple.smbd.plist</string>
	<string>com.apple.smbfs_load_kext.plist</string>
	<string>com.apple.softwareupdatecheck.initial.plist</string>
	<string>com.apple.softwareupdatecheck.periodic.plist</string>
	<string>com.apple.spindump.plist</string>
	<string>com.apple.spindump_symbolicator.plist</string>
	<string>com.apple.stackshot.plist</string>
	<string>com.apple.statd.notify.plist</string>
	<string>com.apple.storereceiptinstaller.plist</string>
	<string>com.apple.suhelperd.plist</string>
	<string>com.apple.syslogd.plist</string>
	<string>com.apple.systemkeychain.plist</string>
	<string>com.apple.systempreferences.installer.plist</string>
	<string>com.apple.systempreferences.writeconfig.plist</string>
	<string>com.apple.taskgated-helper.plist</string>
	<string>com.apple.taskgated.plist</string>
	<string>com.apple.ucupdate.plist</string>
	<string>com.apple.uninstalld.plist</string>
	<string>com.apple.unmountassistant.sysagent.plist</string>
	<string>com.apple.usbmuxd.plist</string>
	<string>com.apple.uucp.plist</string>
	<string>com.apple.var-db-dslocal-backup.plist</string>
	<string>com.apple.var-db-shadow-backup.plist</string>
	<string>com.apple.vsdbutil.plist</string>
	<string>com.apple.warmd.plist</string>
	<string>com.apple.webdavfs_load_kext.plist</string>
	<string>com.apple.wikid.compatibility.plist</string>
	<string>com.apple.xgridagentd.plist</string>
	<string>com.apple.xgridcontrollerd.plist</string>
	<string>com.apple.xpchelper.plist</string>
	<string>com.apple.xsan.plist</string>
	<string>com.apple.xserve.serial-ports.plist</string>
	<string>com.apple.xprotectupdater.plist</string>	
	<string>com.danga.memcached.plist</string>
	<string>com.vix.cron.plist</string>
	<string>comsat.plist</string>
	<string>exec.plist</string>
	<string>finger.plist</string>
	<string>ftp-proxy.plist</string>
	<string>ftp.plist</string>
	<string>login.plist</string>
	<string>ntalk.plist</string>
	<string>org.amavis.amavisd.plist</string>
	<string>org.amavis.amavisd_cleanup.plist</string>
	<string>org.apache.httpd.plist</string>
	<string>org.cups.cups-lpd.plist</string>
	<string>org.cups.cupsd.plist</string>
	<string>org.isc.named.plist</string>
	<string>org.net-snmp.snmpd.plist</string>
	<string>org.ntp.ntpd.plist</string>
	<string>org.postfix.master.plist</string>
	<string>org.x.privileged_startx.plist</string>
	<string>shell.plist</string>
	<string>ssh.plist</string>
	<string>telnet.plist</string>
	<string>tftp.plist</string>
	<string>com.apple.remotepairtool.plist</string>		
</array>
</plist>
