<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.mdworker.pool.3</string>
	<string>com.apple.dock.downloads</string>
	<string>com.apple.FontWorker.ATS</string>
	<string>com.apple.coreservices.appleidauthentication</string>
	<string>com.apple.midiserver</string>
	<string>com.apple.mdworker.i386.framework.0</string>
	<string>com.apple.mdworker.isolation.0</string>
	<string>fr</string>
	<string>nl</string>
	<string>pt_BR</string>
	<string>com.apple.installd.user</string>
	<string>com.apple.inputswitcher.startup</string>
	<string>com.apple.store_helper</string>
	<string>com.apple.quicklook.config</string>
	<string>com.apple.WebKit.PluginAgent</string>
	<string>com.apple.ReportCrash</string>
	<string>Multilingual</string>
	<string>com.apple.midiserver.io</string>
	<string>com.apple.imagent.desktop.Launched</string>
	<string>com.apple.mdworker.lsb.framework.0</string>
	<string>com.apple.UNCUserNotificationAgent</string>
	<string>es</string>
	<string>com.apple.tsm.uiserver</string>
	<string>com.apple.mdworker.i386.0</string>
	<string>com.apple.quicklook.ui.helper.active</string>
	<string>com.apple.cookied</string>
	<string>ru</string>
	<string>com.apple.aos.migrate</string>
	<string>com.apple.KerberosHelper.LKDCHelper</string>
	<string>com.apple.ATS.FontValidatorConduit</string>
	<string>com.apple.finder.ServiceProvider</string>
	<string>com.apple.mdworker.lsb.0</string>
	<string>com.apple.mdworker.pool.framework.0</string>
	<string>com.apple.gssd-agent</string>
	<string>it</string>
	<string>sv</string>
	<string>com.apple.DiskArbitration.DiskArbitrationAgent</string>
	<string>com.apple.safaridavclient.push</string>
	<string>com.apple.lookupd</string>
	<string>com.apple.rcd</string>
	<string>com.apple.mdworker.pool.1</string>
	<string>com.apple.quicklook.ui.helper</string>
	<string>com.apple.inputmethodkit.launchagent</string>
	<string>com.apple.csuseragent</string>
	<string>com.apple.mdworker.pool.framework.3</string>
	<string>com.apple.cvmsCompAgent_x86_64</string>
	<string>com.apple.sessionAgent</string>
	<string>com.apple.FontServer</string>
	<string>com.apple.storeagent-xpc</string>
	<string>da</string>
	<string>com.apple.AOSNotification</string>
	<string>com.apple.RemoteDesktop.agent</string>
	<string>com.apple.java.updateSharing</string>
	<string>com.apple.window_proxies.startup</string>
	<string>com.apple.alf.useragent</string>
	<string>com.apple.mdworker.pool.framework.1</string>
	<string>com.apple.VoiceOver.running</string>
	<string>pt_PT</string>
	<string>com.apple.screensharing.agent</string>
	<string>com.apple.dock.server</string>
	<string>com.apple.BezelUI</string>
	<string>com.apple.FileSyncAgent.iDisk</string>
	<string>com.apple.dock.fullscreen</string>
	<string>com.apple.ATS.FontValidator</string>
	<string>com.apple.pubsub.ipc</string>
	<string>com.apple.syncservices.uihandler</string>
	<string>com.apple.CoreLocation.agent</string>
	<string>com.apple.mdworker.prescan.0</string>
	<string>com.apple.window_proxies</string>
	<string>en</string>
	<string>com.apple.systemprofiler</string>
	<string>com.apple.SchedulerUpdateNotificationPort</string>
	<string>com.apple.imagent.desktop.auth</string>
	<string>com.apple.loginwindow.notify</string>
	<string>com.apple.crashreporter.appusage</string>
	<string>com.apple.pbs.fetch_services</string>
	<string>com.apple.dock.appstore</string>
	<string>com.apple.pubsub.notification</string>
	<string>com.apple.ReclaimSpace</string>
	<string>com.apple.storeagent</string>
	<string>com.apple.coreservices.launcherror-handler</string>
	<string>com.apple.unmountassistant.useragent</string>
	<string>com.apple.spinreporteragent</string>
	<string>com.apple.pasteboard.1</string>
	<string>Apple80211Agent</string>
	<string>en_GB</string>
	<string>com.apple.printuitool.agent</string>
	<string>ISDServerIsRunningPort</string>
	<string>com.apple.netauth.user.auth</string>
	<string>com.apple.findmymacmessenger</string>
	<string>com.apple.speech.recognitionserver</string>
	<string>com.apple.speech.feedbackservicesserver</string>
	<string>com.apple.quicklook.32bit</string>
	<string>com.apple.VoiceOver.startup</string>
	<string>com.apple.netauth.user.gui</string>
	<string>com.apple.iCalPush</string>
	<string>en_US</string>
	<string>com.apple.inputswitcher.running</string>
	<string>com.apple.printtool.agent</string>
	<string>com.apple.ls.boxd</string>
	<string>com.apple.DictionaryPanelHelper.reply</string>
	<string>com.apple.BluetoothMEDOServer</string>
	<string>com.apple.pictd</string>
	<string>com.apple.syncservices.SyncServer</string>
	<string>com.apple.AddressBook.SourceSync</string>
	<string>com.apple.safaridavclient</string>
	<string>com.apple.systemuiserver.ServiceProvider</string>
	<string>com.apple.FontWorker</string>
	<string>com.apple.speech.voiceinstallerd</string>
	<string>com.apple.NetworkDiagnostic.agent</string>
	<string>com.apple.helpd</string>
	<string>com.apple.cvmsCompAgent_i386</string>
	<string>com.apple.speech.synthesis.ScreenReaderPort</string>
	<string>com.apple.scrod</string>
	<string>com.apple.TrustEvaluationAgent</string>
	<string>com.apple.AppStoreUpdateAgent</string>
	<string>com.apple.AddressBook.PushNotification</string>
	<string>com.apple.ZoomWindow.startup</string>
	<string>com.apple.FileSyncAgent.iDisk.isRunning</string>
	<string>com.apple.DictionaryPanelHelper</string>
	<string>com.apple.mdworker.pool.framework.2</string>
	<string>com.apple.cfnetwork.AuthBrokerAgent</string>
	<string>de</string>
	<string>com.apple.ReportCrash.Self</string>
	<string>com.apple.btsa</string>
	<string>com.apple.mdmclient.agent</string>
	<string>com.apple.UserEventAgent.EventMonitor</string>
	<string>com.apple.AddressBook.abd</string>
	<string>com.apple.ScreenReaderUIServer</string>
	<string>com.apple.metadata.mdwrite</string>
	<string>com.apple.SUISMessaging</string>
	<string>en_CA</string>
	<string>com.apple.dockextra.server</string>
	<string>com.apple.FileSyncAgent.PHD</string>
	<string>com.apple.ZoomWindow.running</string>
	<string>com.apple.ipodserver</string>
	<string>com.apple.speech.synthesis.SpeakingHotKeyPort</string>
	<string>com.apple.systemuiserver.screencapture</string>
	<string>com.apple.FileSyncAgent.PHD.isRunning</string>
	<string>com.apple.mdworker.isolation.framework.0</string>
	<string>com.apple.java.installondemand</string>
	<string>com.apple.dockling.server</string>
	<string>pt</string>
	<string>com.apple.distributed_notifications@Uv3</string>
	<string>en_AU</string>
	<string>com.apple.xgridd</string>
	<string>30B651BD-E734-47AA-8105-4D341B74A007</string>
	<string>com.apple.speech.synthesis.TimeAnnouncementsPort</string>
	<string>com.apple.coreservices.quarantine-resolver</string>
	<string>com.apple.coreservices.appleid.authentication</string>
	<string>com.apple.bluetoothUIServer</string>
	<string>en_JP</string>
	<string>com.apple.mdworker.pool.2</string>
	<string>com.apple.inputswitcher.stop</string>
	<string>com.apple.mdworker.pool.0</string>
	<string>com.apple.quicklook</string>
	<string>com.apple.marco</string>
	<string>com.apple.FontRegistry.FontRegistryUIAgent</string>
	<string>com.apple.BezelServices</string>
	<string>com.apple.FontObjectsServer</string>
	<string>com.apple.inputmethodkit.launcher</string>
	<string>com.apple.familycontrols.useragent</string>
	<string>com.apple.DiskArbitration.diskarbitrationd</string>
	<string>com.apple.launchd.peruser.0</string>
	<string>com.apple.automountd</string>
	<string>com.apple.metadata.mds</string>
	<string>com.apple.efilogin-helper</string>
	<string>com.apple.cmio.AVCAssistant</string>
	<string>com.apple.bsd.launchdadd</string>
	<string>com.apple.taskgated.helper</string>
	<string>com.apple.taskgated</string>
	<string>com.apple.metadata.mds.scan</string>
	<string>com.apple.ExpansionSlotUtility.PCIELaneConfigTool</string>
	<string>com.apple.RFBEventHelper</string>
	<string>com.apple.mDNSResponder</string>
	<string>com.apple.sandboxd</string>
	<string>com.apple.logind</string>
	<string>com.apple.distributed_notifications@1v3</string>
	<string>com.apple.unmountassistant.sysagent</string>
	<string>com.apple.smbfs_load_kext</string>
	<string>com.apple.metadata.mds.spindump</string>
	<string>com.apple.system.opendirectoryd.api</string>
	<string>com.apple.cvmsServ</string>
	<string>com.apple.CoreRAID</string>
	<string>com.apple.diskmanagementd</string>
	<string>com.apple.ManagedClient.agent</string>
	<string>com.apple.system.Kernel[UNC]Notifications</string>
	<string>com.apple.BluetoothDOServer</string>
	<string>com.apple.launchd.peruser.92</string>
	<string>com.apple.warmd.server</string>
	<string>com.apple.fontmover</string>
	<string>com.apple.backupd.xpc</string>
	<string>com.apple.SystemConfiguration.helper</string>
	<string>com.apple.launchd.peruser.501</string>
	<string>com.apple.spinreporterd</string>
	<string>com.apple.spinreportersymbolicatord</string>
	<string>com.apple.backupd</string>
	<string>com.apple.webdavfs_load_kext</string>
	<string>com.apple.networking.captivenetworksupport</string>
	<string>com.apple.locum</string>
	<string>com.apple.findmymacd</string>
	<string>com.apple.revisiond</string>
	<string>com.apple.system.notification_center</string>
	<string>com.apple.SecurityServer</string>
	<string>com.apple.FSEvents</string>
	<string>com.apple.uninstalld</string>
	<string>com.apple.launchd.peruser.222</string>
	<string>com.apple.pcastagentconfigd</string>
	<string>com.apple.familycontrols</string>
	<string>com.apple.system.opendirectoryd.libinfo_v1</string>
	<string>com.apple.backupd-status</string>
	<string>com.apple.system.DirectoryService.libinfo_v1</string>
	<string>com.apple.applepushserviced</string>
	<string>com.apple.netauth.sys.gui</string>
	<string>com.apple.systempreferences.installAssistantConnection</string>
	<string>com.apple.airport.updateprefs</string>
	<string>com.apple.SecurityAgent</string>
	<string>org.x.privileged_startx</string>
	<string>com.apple.dpd</string>
	<string>com.apple.installd</string>
	<string>com.apple.cmio.VDCAssistant</string>
	<string>com.apple.SystemConfiguration.PPPController</string>
	<string>com.apple.avbdeviced.config.device</string>
	<string>com.apple.ocspd</string>
	<string>com.apple.distributed_notifications@0v3</string>
	<string>com.apple.launchd.peruser.89</string>
	<string>com.apple.RemotePairTool</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy</string>
	<string>com.apple.mDNSResponderHelper</string>
	<string>com.apple.system.DirectoryService.membership_v1</string>
	<string>com.apple.xpchelper</string>
	<string>com.apple.IIDCAssistant</string>
	<string>com.apple.dvdplayback.setregion_service</string>
	<string>com.apple.lockd</string>
	<string>com.apple.CoreServices.coreservicesd</string>
	<string>com.apple.avbdeviced.config.preferences</string>
	<string>com.apple.audio.audiohald</string>
	<string>com.apple.locationd.spi</string>
	<string>com.apple.authorizationhost</string>
	<string>com.apple.metadata.mds.xpcs</string>
	<string>com.apple.system.DirectoryService.legacy</string>
	<string>com.apple.audio.coreaudiod</string>
	<string>com.apple.libquitd</string>
	<string>com.apple.DeviceManagement.SCEPHelper</string>
	<string>com.apple.auditd</string>
	<string>com.apple.blued</string>
	<string>com.apple.bsd.dirhelper</string>
	<string>com.apple.netauth.sys.auth</string>
	<string>com.apple.suhelperd</string>
	<string>com.apple.launchd.peruser.212</string>
	<string>com.apple.iohideventsystem</string>
	<string>com.apple.network.IPConfiguration</string>
	<string>com.apple.cmio.IIDCVideoAssistant</string>
	<string>com.apple.KernelExtensionServer</string>
	<string>com.apple.system.hdiejectd</string>
	<string>com.apple.AOSNotification-FMM</string>
	<string>com.apple.bnepd</string>
	<string>com.apple.appleprofilepolicyd</string>
	<string>com.apple.alf</string>
	<string>com.apple.FileCoordination</string>
	<string>com.apple.mdmclient.daemon</string>
	<string>com.apple.gssd</string>
	<string>com.apple.iokit.scsid</string>
	<string>com.apple.airport.wps</string>
	<string>com.apple.locationd.synchronous</string>
	<string>com.apple.storereceiptinstaller</string>
	<string>com.apple.afpfs_checkafp</string>
	<string>com.apple.windowserver</string>
	<string>org.h5l.kcm</string>
	<string>com.apple.network.EAPOLController</string>
	<string>com.apple.softwareupdatecheck</string>
	<string>com.apple.kcproxy</string>
	<string>com.apple.awacs</string>
	<string>com.apple.eapolcfg_auth</string>
	<string>com.apple.afpfs_afpLoad</string>
	<string>com.apple.familycontrols.authorizer</string>
	<string>org.h5l.ntlm-service</string>
	<string>com.apple.airportd</string>
	<string>com.apple.d2d.ipc</string>
	<string>com.apple.locationd.agent</string>
	<string>com.apple.PowerManagement.control</string>
	<string>com.apple.SystemConfiguration.configd</string>
	<string>com.apple.locationd.registration</string>
	<string>com.apple.windowserver.active</string>
	<string>com.apple.metadata.mds.xpc</string>
	<string>com.apple.printtool.daemon</string>
	<string>com.apple.system.opendirectoryd.membership_v1</string>
	<string>com.apple.system.logger</string>
	<string>com.apple.systempreferences.writeconfig</string>
	<string>com.apple.corestorage.corestoragehelperd</string>
	<string>com.apple.avbdeviced.virtual.device</string>
	<string>com.apple.preferences.timezone.admintool</string>
	<string>com.apple.ReportCrash.DirectoryService</string>
	<string>com.apple.preferences.timezone.auto</string>
	<string>com.apple.UNCUserNotification</string>
</array>
</plist>
