<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bootps.plist</string>
	<string>com.apple.accessibility.axassetsd.plist</string>
	<string>com.apple.accessibility.AXVisualSupportAgent.plist</string>
	<string>com.apple.accessibility.dfrhud.plist</string>
	<string>com.apple.accessibility.heard.plist</string>
	<string>com.apple.accessibility.LiveTranscriptionAgent.plist</string>
	<string>com.apple.accessibility.MotionTrackingAgent.plist</string>
	<string>com.apple.AccessibilityVisualsAgent.plist</string>
	<string>com.apple.accessoryd.plist</string>
	<string>com.apple.accessoryupdaterd.plist</string>
	<string>com.apple.accountsd.plist</string>
	<string>com.apple.AddressBook.abd.plist</string>
	<string>com.apple.AddressBook.AssistantService.plist</string>
	<string>com.apple.AddressBook.SourceSync.plist</string>
	<string>com.apple.adid.plist</string>
	<string>com.apple.afpfs_afpLoad.plist</string>
	<string>com.apple.afpfs_checkafp.plist</string>
	<string>com.apple.AirPlayUIAgent.plist</string>
	<string>com.apple.AirPlayXPCHelper.plist</string>
	<string>com.apple.airport.wps.plist</string>
	<string>com.apple.AirPortBaseStationAgent.plist</string>
	<string>com.apple.airportd.plist</string>
	<string>com.apple.akd.plist</string>
	<string>com.apple.akd.plist</string>
	<string>com.apple.alf.agent.plist</string>
	<string>com.apple.alf.useragent.plist</string>
	<string>com.apple.amp.mediasharingd.plist</string>
	<string>com.apple.AMPArtworkAgent.plist</string>
	<string>com.apple.AMPDeviceDiscoveryAgent.plist</string>
	<string>com.apple.AMPDevicesAgent.plist</string>
	<string>com.apple.AMPLibraryAgent.plist</string>
	<string>com.apple.AMPSystemPlayerAgent.plist</string>
	<string>com.apple.amsaccountsd.plist</string>
	<string>com.apple.amsengagementd.plist</string>
	<string>com.apple.analyticsd.plist</string>
	<string>com.apple.aned.plist</string>
	<string>com.apple.aneuserd.plist</string>
	<string>com.apple.AOSHeartbeat.plist</string>
	<string>com.apple.AOSPushRelay.plist</string>
	<string>com.apple.ap.adprivacyd.plist</string>
	<string>com.apple.ap.promotedcontentd.plist</string>
	<string>com.apple.apfsd.plist</string>
	<string>com.apple.apfsuseragent.plist</string>
	<string>com.apple.appinstalld.plist</string>
	<string>com.apple.appleaccountd.plist</string>
	<string>com.apple.AppleCredentialManagerDaemon.plist</string>
	<string>com.apple.appleh13camerad.plist</string>
	<string>com.apple.appleh16camerad.plist</string>
	<string>com.apple.appleidsetupd.plist</string>
	<string>com.apple.AppleQEMUGuestAgent.plist</string>
	<string>com.apple.appleseed.fbahelperd.plist</string>
	<string>com.apple.appleseed.seedusaged.plist</string>
	<string>com.apple.appleseed.seedusaged.postinstall.plist</string>
	<string>com.apple.applespell.plist</string>
	<string>com.apple.applessdstatistics.plist</string>
	<string>com.apple.appsleepd.plist</string>
	<string>com.apple.AppSSOAgent.login.plist</string>
	<string>com.apple.AppSSOAgent.plist</string>
	<string>com.apple.AppSSODaemon.plist</string>
	<string>com.apple.appstoreagent.plist</string>
	<string>com.apple.appstorecomponentsd.plist</string>
	<string>com.apple.appstored.plist</string>
	<string>com.apple.apsd.plist</string>
	<string>com.apple.AquaAppearanceHelper.agent.plist</string>
	<string>com.apple.askpermissiond.plist</string>
	<string>com.apple.AskPermissionUI.plist</string>
	<string>com.apple.asktod.plist</string>
	<string>com.apple.aslmanager.plist</string>
	<string>com.apple.asr.plist</string>
	<string>com.apple.assessmentagent.plist</string>
	<string>com.apple.AssetCache.agent.plist</string>
	<string>com.apple.AssetCache.builtin.plist</string>
	<string>com.apple.AssetCacheLocatorService.plist</string>
	<string>com.apple.AssetCacheLocatorService.plist</string>
	<string>com.apple.AssetCacheManagerService.plist</string>
	<string>com.apple.AssetCacheTetheratorService.plist</string>
	<string>com.apple.assistant_cdmd.plist</string>
	<string>com.apple.assistant_service.plist</string>
	<string>com.apple.assistantd.plist</string>
	<string>com.apple.AssistiveControl.plist</string>
	<string>com.apple.atrun.plist</string>
	<string>com.apple.atsd.useragent.plist</string>
	<string>com.apple.audio.AudioComponentRegistrar.daemon.plist</string>
	<string>com.apple.audio.AudioComponentRegistrar.plist</string>
	<string>com.apple.audio.coreaudiod.plist</string>
	<string>com.apple.audio.systemsoundserverd.plist</string>
	<string>com.apple.audioanalyticsd.plist</string>
	<string>com.apple.audiomxd.plist</string>
	<string>com.apple.auditd.plist</string>
	<string>com.apple.AuthenticationServicesCore.AuthenticationServicesAgent.plist</string>
	<string>com.apple.AutoFillPanel.plist</string>
	<string>com.apple.autofsd.plist</string>
	<string>com.apple.automountd.plist</string>
	<string>com.apple.avatarsd.plist</string>
	<string>com.apple.avbdeviced.plist</string>
	<string>com.apple.avconferenced.plist</string>
	<string>com.apple.awdd.plist</string>
	<string>com.apple.backgroundassets.user.plist</string>
	<string>com.apple.backgroundtaskmanagement.agent.plist</string>
	<string>com.apple.backgroundtaskmanagementd.plist</string>
	<string>com.apple.backupd-helper.plist</string>
	<string>com.apple.backupd.plist</string>
	<string>com.apple.betaenrollmentd.plist</string>
	<string>com.apple.BiomeAgent.plist</string>
	<string>com.apple.biomed.plist</string>
	<string>com.apple.biomesyncd.plist</string>
	<string>com.apple.biometrickitd.plist</string>
	<string>com.apple.bird.plist</string>
	<string>com.apple.BlueTool.plist</string>
	<string>com.apple.bluetoothd.plist</string>
	<string>com.apple.bluetoothUIServer.plist</string>
	<string>com.apple.bluetoothuiservice.plist</string>
	<string>com.apple.bluetoothuserd.plist</string>
	<string>com.apple.bookassetd.plist</string>
	<string>com.apple.bookdatastored.plist</string>
	<string>com.apple.bootinstalld.plist</string>
	<string>com.apple.bosreporter.plist</string>
	<string>com.apple.boswatcher.plist</string>
	<string>com.apple.bridgeOSUpdateProxy.plist</string>
	<string>com.apple.bsd.dirhelper.plist</string>
	<string>com.apple.btsa.plist</string>
	<string>com.apple.BTServer.le.plist</string>
	<string>com.apple.BTServerAgent.le.plist</string>
	<string>com.apple.cache_delete.plist</string>
	<string>com.apple.calaccessd.plist</string>
	<string>com.apple.calendar.CalendarAgentBookmarkMigrationService.plist</string>
	<string>com.apple.CallHistoryPluginHelper.plist</string>
	<string>com.apple.CallHistorySyncHelper.plist</string>
	<string>com.apple.captiveagent.plist</string>
	<string>com.apple.cdpd.plist</string>
	<string>com.apple.cfnetwork.AuthBrokerAgent.plist</string>
	<string>com.apple.cfnetwork.cfnetworkagent.plist</string>
	<string>com.apple.cfprefsd.xpc.agent.plist</string>
	<string>com.apple.cfprefsd.xpc.daemon.plist</string>
	<string>com.apple.chronod.plist</string>
	<string>com.apple.ciphermld.plist</string>
	<string>com.apple.ckdiscretionaryd.plist</string>
	<string>com.apple.cloudd.plist</string>
	<string>com.apple.cloudd.plist</string>
	<string>com.apple.cloudpaird.plist</string>
	<string>com.apple.cloudphotod.plist</string>
	<string>com.apple.CloudSettingsSyncAgent.plist</string>
	<string>com.apple.cmfsyncagent.plist</string>
	<string>com.apple.cmio.AVCAssistant.plist</string>
	<string>com.apple.cmio.ContinuityCaptureAgent.plist</string>
	<string>com.apple.cmio.IIDCVideoAssistant.plist</string>
	<string>com.apple.cmio.iOSScreenCaptureAssistant.plist</string>
	<string>com.apple.cmio.LaunchCMIOUserExtensionsAgent.plist</string>
	<string>com.apple.cmio.registerassistantservice.plist</string>
	<string>com.apple.cmio.uvcassistantextension.plist</string>
	<string>com.apple.cmio.VDCAssistant.plist</string>
	<string>com.apple.colorsync.displayservices.plist</string>
	<string>com.apple.colorsync.useragent.plist</string>
	<string>com.apple.colorsyncd.plist</string>
	<string>com.apple.CommCenter-osx.plist</string>
	<string>com.apple.commerce.plist</string>
	<string>com.apple.configd.plist</string>
	<string>com.apple.configureLocalKDC.plist</string>
	<string>com.apple.contacts.donation-agent.plist</string>
	<string>com.apple.contactsd.plist</string>
	<string>com.apple.containermanagerd.plist</string>
	<string>com.apple.containermanagerd.plist</string>
	<string>com.apple.containermanagerd.system.plist</string>
	<string>com.apple.ContextStoreAgent.plist</string>
	<string>com.apple.contextstored.plist</string>
	<string>com.apple.controlcenter.plist</string>
	<string>com.apple.controlstrip.plist</string>
	<string>com.apple.coordinated.plist</string>
	<string>com.apple.CoreAuthentication.agent.plist</string>
	<string>com.apple.CoreAuthentication.daemon.plist</string>
	<string>com.apple.corebrightnessd.plist</string>
	<string>com.apple.corecaptured.plist</string>
	<string>com.apple.coredatad.plist</string>
	<string>com.apple.coreduetd.plist</string>
	<string>com.apple.coreimportd.plist</string>
	<string>com.apple.corekdld.plist</string>
	<string>com.apple.CoreLocationAgent.plist</string>
	<string>com.apple.coreservices.appleevents.plist</string>
	<string>com.apple.coreservices.launchservicesd.plist</string>
	<string>com.apple.coreservices.sharedfilelistd.plist</string>
	<string>com.apple.coreservices.sharedfilelistd.plist</string>
	<string>com.apple.coreservices.UASharedPasteboardProgressUI.plist</string>
	<string>com.apple.coreservices.uiagent.plist</string>
	<string>com.apple.coreservices.useractivityd.plist</string>
	<string>com.apple.coreservicesd.plist</string>
	<string>com.apple.corespeechd.plist</string>
	<string>com.apple.corespotlightd.plist</string>
	<string>com.apple.corespotlightservice.plist</string>
	<string>com.apple.corestorage.corestoraged.plist</string>
	<string>com.apple.corestorage.corestoragehelperd.plist</string>
	<string>com.apple.coresymbolicationd.plist</string>
	<string>com.apple.countryd.plist</string>
	<string>com.apple.CrashReporterSupportHelper.plist</string>
	<string>com.apple.CryptoTokenKit.ahp.agent.plist</string>
	<string>com.apple.CryptoTokenKit.ahp.plist</string>
	<string>com.apple.CSCSupportd.plist</string>
	<string>com.apple.csrutil.report.plist</string>
	<string>com.apple.csuseragent.plist</string>
	<string>com.apple.ctkbind.plist</string>
	<string>com.apple.ctkd.plist</string>
	<string>com.apple.ctkd.plist</string>
	<string>com.apple.cvmsCompAgent3425AMD_x86_64.plist</string>
	<string>com.apple.cvmsCompAgent3425AMD_x86_64_1.plist</string>
	<string>com.apple.cvmsCompAgent3600_arm64.plist</string>
	<string>com.apple.cvmsCompAgent3600_arm64_1.plist</string>
	<string>com.apple.cvmsCompAgent3600_x86_64.plist</string>
	<string>com.apple.cvmsCompAgent3600_x86_64_1.plist</string>
	<string>com.apple.cvmsCompAgent_arm64.plist</string>
	<string>com.apple.cvmsCompAgent_arm64_1.plist</string>
	<string>com.apple.cvmsCompAgent_x86_64.plist</string>
	<string>com.apple.cvmsCompAgent_x86_64_1.plist</string>
	<string>com.apple.cvmsServ.plist</string>
	<string>com.apple.dasd-OSX.plist</string>
	<string>com.apple.dataaccess.dataaccessd.plist</string>
	<string>com.apple.DataDetectorsLocalSources.plist</string>
	<string>com.apple.DataDetectorsSourceAccess.plist</string>
	<string>com.apple.datastored.plist</string>
	<string>com.apple.deleted_helper.plist</string>
	<string>com.apple.DesktopServicesHelper.plist</string>
	<string>com.apple.devicecheckd.plist</string>
	<string>com.apple.devicemanagementclient.teslad.plist</string>
	<string>com.apple.dhcp6d.plist</string>
	<string>com.apple.diagnosticd.plist</string>
	<string>com.apple.diagnosticextensions.osx.spotlight.helper.plist</string>
	<string>com.apple.diagnosticextensions.osx.timemachine.helper.plist</string>
	<string>com.apple.diagnosticextensionsd.plist</string>
	<string>com.apple.diagnostics_agent.plist</string>
	<string>com.apple.DiagnosticsReporter.plist</string>
	<string>com.apple.DictationIM.plist</string>
	<string>com.apple.DiskArbitrationAgent.plist</string>
	<string>com.apple.diskarbitrationd.plist</string>
	<string>com.apple.diskimagesiod.plist</string>
	<string>com.apple.diskimagesiod.ram.plist</string>
	<string>com.apple.diskimagesiod.spb.plist</string>
	<string>com.apple.diskmanagementstartup.plist</string>
	<string>com.apple.diskspaced.plist</string>
	<string>com.apple.displaypolicyd.plist</string>
	<string>com.apple.distnoted.xpc.agent.plist</string>
	<string>com.apple.distnoted.xpc.daemon.plist</string>
	<string>com.apple.dmd.agent.plist</string>
	<string>com.apple.Dock.plist</string>
	<string>com.apple.donotdisturbd.plist</string>
	<string>com.apple.dpaudiothru.plist</string>
	<string>com.apple.dpd.plist</string>
	<string>com.apple.dprivacyd.plist</string>
	<string>com.apple.dspluginhelperd.plist</string>
	<string>com.apple.dt.automationmode-writer.plist</string>
	<string>com.apple.dt.AutomationModeUI.plist</string>
	<string>com.apple.dt.CommandLineTools.installondemand.plist</string>
	<string>com.apple.dt.fetchsymbolsd.plist</string>
	<string>com.apple.dt.previewsd.plist</string>
	<string>com.apple.dt.previewsviewservice.plist</string>
	<string>com.apple.DumpGPURestart.plist</string>
	<string>com.apple.DumpPanic.Accessory.plist</string>
	<string>com.apple.DumpPanic.plist</string>
	<string>com.apple.dvdplayback.setregion.plist</string>
	<string>com.apple.DwellControl.plist</string>
	<string>com.apple.dynamic_pager.plist</string>
	<string>com.apple.eapolcfg_auth.plist</string>
	<string>com.apple.efilogin-helper.plist</string>
	<string>com.apple.email.maild.plist</string>
	<string>com.apple.endpointsecurity.endpointsecurityd.plist</string>
	<string>com.apple.ensemble.plist</string>
	<string>com.apple.eoshostd.plist</string>
	<string>com.apple.eppc.plist</string>
	<string>com.apple.erasecontentsettingshelperd.plist</string>
	<string>com.apple.EscrowSecurityAlert.plist</string>
	<string>com.apple.exchange.exchangesyncd.plist</string>
	<string>com.apple.ExpansionSlotNotification.plist</string>
	<string>com.apple.fairplayd.plist</string>
	<string>com.apple.fairplaydeviceidentityd.plist</string>
	<string>com.apple.familycircled.plist</string>
	<string>com.apple.familycontrols.plist</string>
	<string>com.apple.familycontrols.useragent.plist</string>
	<string>com.apple.FamilyControlsAgent.plist</string>
	<string>com.apple.familynotificationd.plist</string>
	<string>com.apple.FileCoordination.plist</string>
	<string>com.apple.FileProvider.plist</string>
	<string>com.apple.filesystems.fskitd.plist</string>
	<string>com.apple.filesystems.livefileproviderd.plist</string>
	<string>com.apple.filesystems.userfs_helper.plist</string>
	<string>com.apple.filesystems.userfsd.plist</string>
	<string>com.apple.FilesystemUI.plist</string>
	<string>com.apple.financed.plist</string>
	<string>com.apple.Finder.plist</string>
	<string>com.apple.findmy.findmybeaconingd.plist</string>
	<string>com.apple.findmy.findmylocateagent.plist</string>
	<string>com.apple.findmymac.plist</string>
	<string>com.apple.findmymacmessenger.plist</string>
	<string>com.apple.findmymacmessenger.plist</string>
	<string>com.apple.firmwaresyncd.plist</string>
	<string>com.apple.FolderActionsDispatcher.plist</string>
	<string>com.apple.followupd.plist</string>
	<string>com.apple.FollowUpUI.plist</string>
	<string>com.apple.fontd.useragent.plist</string>
	<string>com.apple.fontmover.plist</string>
	<string>com.apple.FontRegistryUIAgent.plist</string>
	<string>com.apple.FontValidator.plist</string>
	<string>com.apple.FontWorker.plist</string>
	<string>com.apple.fseventsd.plist</string>
	<string>com.apple.fskit.fskit_helper.plist</string>
	<string>com.apple.ftp-proxy.plist</string>
	<string>com.apple.GameController.gamecontrolleragentd.plist</string>
	<string>com.apple.GameController.gamecontrollerd.plist</string>
	<string>com.apple.gamed.plist</string>
	<string>com.apple.GamePolicyAgent.plist</string>
	<string>com.apple.gamepolicyd.plist</string>
	<string>com.apple.geodMachServiceBridge.plist</string>
	<string>com.apple.getty.plist</string>
	<string>com.apple.gkreport.plist</string>
	<string>com.apple.gputoolsserviced.plist</string>
	<string>com.apple.griddatad.plist</string>
	<string>com.apple.GSSCred.plist</string>
	<string>com.apple.gssd.plist</string>
	<string>com.apple.hdiejectd.plist</string>
	<string>com.apple.helpd.plist</string>
	<string>com.apple.hidd.plist</string>
	<string>com.apple.homed.plist</string>
	<string>com.apple.homeenergyd.plist</string>
	<string>com.apple.icdd.plist</string>
	<string>com.apple.icloud.findmydeviced.findmydevice-user-agent.plist</string>
	<string>com.apple.icloud.findmydeviced.plist</string>
	<string>com.apple.icloud.fmfd.plist</string>
	<string>com.apple.icloud.searchpartyd.plist</string>
	<string>com.apple.icloud.searchpartyuseragent.plist</string>
	<string>com.apple.icloudmailagent.plist</string>
	<string>com.apple.iCloudNotificationAgent.plist</string>
	<string>com.apple.iCloudUserNotifications.plist</string>
	<string>com.apple.iconservices.iconservicesagent.plist</string>
	<string>com.apple.iconservices.iconservicesagent.plist</string>
	<string>com.apple.iconservices.iconservicesd.plist</string>
	<string>com.apple.identityservicesd.plist</string>
	<string>com.apple.idleassetsd.plist</string>
	<string>com.apple.idsremoteurlconnectionagent.plist</string>
	<string>com.apple.IFCStart.plist</string>
	<string>com.apple.ifdreader.plist</string>
	<string>com.apple.imagent.plist</string>
	<string>com.apple.imautomatichistorydeletionagent.plist</string>
	<string>com.apple.imklaunchagent.plist</string>
	<string>com.apple.imtransferagent.plist</string>
	<string>com.apple.installandsetup.migrationhelper.user.plist</string>
	<string>com.apple.installandsetup.systemmigrationd.plist</string>
	<string>com.apple.installcoordination_proxy.plist</string>
	<string>com.apple.installcoordinationd.plist</string>
	<string>com.apple.installd.plist</string>
	<string>com.apple.installd.user.plist</string>
	<string>com.apple.installerauthagent.plist</string>
	<string>com.apple.InstallerDiagnostics.installerdiagd.plist</string>
	<string>com.apple.InstallerDiagnostics.installerdiagwatcher.plist</string>
	<string>com.apple.InstallerProgress.plist</string>
	<string>com.apple.intelligenceplatformd.plist</string>
	<string>com.apple.intelligentroutingd.plist</string>
	<string>com.apple.IOAccelMemoryInfoCollector.plist</string>
	<string>com.apple.iomfb_bics_daemon.plist</string>
	<string>com.apple.iomfb_fdr_loader.plist</string>
	<string>com.apple.ionodecache.plist</string>
	<string>com.apple.IOUIAgent.plist</string>
	<string>com.apple.ioupsd.plist</string>
	<string>com.apple.itunescloudd.plist</string>
	<string>com.apple.jetsamproperties.Mac.plist</string>
	<string>com.apple.kcgend.plist</string>
	<string>com.apple.kcproxy.plist</string>
	<string>com.apple.kdumpd.plist</string>
	<string>com.apple.Kerberos.digest-service.plist</string>
	<string>com.apple.Kerberos.kadmind.plist</string>
	<string>com.apple.Kerberos.kcm.plist</string>
	<string>com.apple.Kerberos.kdc.plist</string>
	<string>com.apple.Kerberos.kpasswdd.plist</string>
	<string>com.apple.KernelEventAgent.plist</string>
	<string>com.apple.kernelmanager_helper.plist</string>
	<string>com.apple.kernelmanagerd.plist</string>
	<string>com.apple.KeyboardAccessAgent.plist</string>
	<string>com.apple.keyboardservicesd.plist</string>
	<string>com.apple.keychainsharingmessagingd.plist</string>
	<string>com.apple.knowledge-agent.plist</string>
	<string>com.apple.knowledgeconstructiond.plist</string>
	<string>com.apple.kuncd.plist</string>
	<string>com.apple.languageassetd.plist</string>
	<string>com.apple.lightsoutmanagementd.plist</string>
	<string>com.apple.linkd.plist</string>
	<string>com.apple.LinkedNotesUIService.plist</string>
	<string>com.apple.liquiddetectiond.plist</string>
	<string>com.apple.LocalAuthentication.UIAgent.plist</string>
	<string>com.apple.localizationswitcherd.plist</string>
	<string>com.apple.locate.plist</string>
	<string>com.apple.locationd.plist</string>
	<string>com.apple.lockd.plist</string>
	<string>com.apple.lockdownmoded.plist</string>
	<string>com.apple.lockoutagent.plist</string>
	<string>com.apple.logd.plist</string>
	<string>com.apple.logd_helper.plist</string>
	<string>com.apple.logd_reporter.plist</string>
	<string>com.apple.logind.plist</string>
	<string>com.apple.loginwindow.LWWeeklyMessageTracer.plist</string>
	<string>com.apple.loginwindow.plist</string>
	<string>com.apple.logkextloadsd.plist</string>
	<string>com.apple.lsd.plist</string>
	<string>com.apple.lsd.plist</string>
	<string>com.apple.lskdd.plist</string>
	<string>com.apple.macos.studentd.plist</string>
	<string>com.apple.managedappdistributionagent.plist</string>
	<string>com.apple.managedappdistributiond.plist</string>
	<string>com.apple.ManagedClient.cloudconfigurationd.plist</string>
	<string>com.apple.ManagedClient.enroll.plist</string>
	<string>com.apple.ManagedClient.mechanism.plist</string>
	<string>com.apple.ManagedClient.plist</string>
	<string>com.apple.ManagedClient.startup.plist</string>
	<string>com.apple.ManagedClientAgent.agent.plist</string>
	<string>com.apple.ManagedClientAgent.enrollagent.plist</string>
	<string>com.apple.ManagedSettingsAgent.plist</string>
	<string>com.apple.maps.destinationd.plist</string>
	<string>com.apple.Maps.mapssyncd.plist</string>
	<string>com.apple.Maps.pushdaemon.plist</string>
	<string>com.apple.mbbackgrounduseragent.plist</string>
	<string>com.apple.mbfloagent.plist</string>
	<string>com.apple.mbproximityhelper.plist</string>
	<string>com.apple.mbsystemadministration.plist</string>
	<string>com.apple.mbuseragent.plist</string>
	<string>com.apple.mbusertrampoline.plist</string>
	<string>com.apple.mdmclient.agent.plist</string>
	<string>com.apple.mdmclient.daemon.plist</string>
	<string>com.apple.mdmclient.daemon.runatboot.plist</string>
	<string>com.apple.mDNSResponder.plist</string>
	<string>com.apple.mDNSResponderHelper.plist</string>
	<string>com.apple.mdworker.mail.plist</string>
	<string>com.apple.mdworker.shared.plist</string>
	<string>com.apple.mdworker.single.arm64.plist</string>
	<string>com.apple.mdworker.single.x86_64.plist</string>
	<string>com.apple.mdworker.sizing.plist</string>
	<string>com.apple.mediaanalysisd.plist</string>
	<string>com.apple.mediaremoteagent.plist</string>
	<string>com.apple.mediaremoted.plist</string>
	<string>com.apple.mediastream.mstreamd.plist</string>
	<string>com.apple.memory-maintenance.plist</string>
	<string>com.apple.MemorySlotNotification.plist</string>
	<string>com.apple.menuextra.battery.helper.plist</string>
	<string>com.apple.metadata.mdbulkimport.plist</string>
	<string>com.apple.metadata.mdflagwriter.plist</string>
	<string>com.apple.metadata.mds.index.plist</string>
	<string>com.apple.metadata.mds.plist</string>
	<string>com.apple.metadata.mds.scan.plist</string>
	<string>com.apple.metadata.mds.spindump.plist</string>
	<string>com.apple.metadata.mdwrite.plist</string>
	<string>com.apple.metrickitd.plist</string>
	<string>com.apple.midiserver.plist</string>
	<string>com.apple.misagent.plist</string>
	<string>com.apple.mlhostd.plist</string>
	<string>com.apple.mlruntimed.plist</string>
	<string>com.apple.mobile.keybagd.plist</string>
	<string>com.apple.mobile.notification_proxy.plist</string>
	<string>com.apple.mobile.NRDUpdated.plist</string>
	<string>com.apple.mobile.obliteration.plist</string>
	<string>com.apple.mobile.softwareupdated.plist</string>
	<string>com.apple.mobile.storage_mounter.plist</string>
	<string>com.apple.mobile.storage_mounter_proxy.plist</string>
	<string>com.apple.mobile.usermanagerd.plist</string>
	<string>com.apple.MobileAccessoryUpdater.fudHelperAgent.plist</string>
	<string>com.apple.mobileactivationd.plist</string>
	<string>com.apple.mobileassetd.plist</string>
	<string>com.apple.MobileFileIntegrity.plist</string>
	<string>com.apple.mobilegestalt.xpc.plist</string>
	<string>com.apple.mobiletimerd.plist</string>
	<string>com.apple.msrpc.echosvc.plist</string>
	<string>com.apple.msrpc.lsarpc.plist</string>
	<string>com.apple.msrpc.mdssvc.plist</string>
	<string>com.apple.msrpc.netlogon.plist</string>
	<string>com.apple.msrpc.srvsvc.plist</string>
	<string>com.apple.msrpc.wkssvc.plist</string>
	<string>com.apple.MTLAssetUpgraderD.plist</string>
	<string>com.apple.multiversed.plist</string>
	<string>com.apple.nand.aspcarry.plist</string>
	<string>com.apple.nand_task_scheduler.plist</string>
	<string>com.apple.naturallanguaged.plist</string>
	<string>com.apple.navd.plist</string>
	<string>com.apple.ndoagent.plist</string>
	<string>com.apple.neagent.plist</string>
	<string>com.apple.nearbyd.plist</string>
	<string>com.apple.nehelper.plist</string>
	<string>com.apple.nesessionmanager.plist</string>
	<string>com.apple.netauth.sys.auth.plist</string>
	<string>com.apple.netauth.sys.gui.plist</string>
	<string>com.apple.netauth.user.auth.plist</string>
	<string>com.apple.netauth.user.gui.plist</string>
	<string>com.apple.netbiosd.plist</string>
	<string>com.apple.NetworkLinkConditioner.plist</string>
	<string>com.apple.networkserviceproxy-osx.plist</string>
	<string>com.apple.NetworkSharing.plist</string>
	<string>com.apple.newsd.plist</string>
	<string>com.apple.newsyslog.plist</string>
	<string>com.apple.nexusd.plist</string>
	<string>com.apple.nfcd.plist</string>
	<string>com.apple.nfrestore.plist</string>
	<string>com.apple.nfsconf.plist</string>
	<string>com.apple.nfsd.plist</string>
	<string>com.apple.notes.exchangenotesd.plist</string>
	<string>com.apple.noticeboard.agent.plist</string>
	<string>com.apple.noticeboard.state.plist</string>
	<string>com.apple.notificationcenterui.plist</string>
	<string>com.apple.notifyd.plist</string>
	<string>com.apple.NowPlayingTouchUI.plist</string>
	<string>com.apple.nsurlsessiond.plist</string>
	<string>com.apple.nsurlsessiond.plist</string>
	<string>com.apple.NVMeAgent.plist</string>
	<string>com.apple.oahd-root-helper.plist</string>
	<string>com.apple.oahd.plist</string>
	<string>com.apple.ocspd.plist</string>
	<string>com.apple.odproxyd.plist</string>
	<string>com.apple.ODSAgent.plist</string>
	<string>com.apple.online-authd.xpc.plist</string>
	<string>com.apple.opendirectoryd.plist</string>
	<string>com.apple.osanalytics.osanalyticshelper.plist</string>
	<string>com.apple.OSDUIHelper.plist</string>
	<string>com.apple.ospredictiond.plist</string>
	<string>com.apple.PackageUIKit.InstallStatus.plist</string>
	<string>com.apple.parentalcontrols.check.plist</string>
	<string>com.apple.parsec-fbf.plist</string>
	<string>com.apple.parsecd.plist</string>
	<string>com.apple.passd.plist</string>
	<string>com.apple.PasswordService.plist</string>
	<string>com.apple.pboard.plist</string>
	<string>com.apple.pbs.plist</string>
	<string>com.apple.peopled.plist</string>
	<string>com.apple.PerfPowerServices.plist</string>
	<string>com.apple.PerfPowerServicesExtended.plist</string>
	<string>com.apple.periodic-daily.plist</string>
	<string>com.apple.periodic-monthly.plist</string>
	<string>com.apple.periodic-weekly.plist</string>
	<string>com.apple.pfctl.plist</string>
	<string>com.apple.pfd.plist</string>
	<string>com.apple.photoanalysisd.plist</string>
	<string>com.apple.photolibraryd.plist</string>
	<string>com.apple.PIPAgent.plist</string>
	<string>com.apple.pluginkit.pkd.plist</string>
	<string>com.apple.pluginkit.pkreporter.plist</string>
	<string>com.apple.postfix.master.plist</string>
	<string>com.apple.postfix.newaliases.plist</string>
	<string>com.apple.powerchime.plist</string>
	<string>com.apple.powerd.plist</string>
	<string>com.apple.powerd.swd.plist</string>
	<string>com.apple.powerdatad.plist</string>
	<string>com.apple.powerlogHelperd.plist</string>
	<string>com.apple.PowerUIAgent.plist</string>
	<string>com.apple.preference.displays.MirrorDisplays.plist</string>
	<string>com.apple.preferences.timezone.admintool.plist</string>
	<string>com.apple.previewshellapp.plist</string>
	<string>com.apple.printtool.agent.plist</string>
	<string>com.apple.printtool.daemon.plist</string>
	<string>com.apple.printuitool.agent.plist</string>
	<string>com.apple.proactived.plist</string>
	<string>com.apple.proactiveeventtrackerd.plist</string>
	<string>com.apple.progressd.plist</string>
	<string>com.apple.protectedcloudstorage.protectedcloudkeysyncing.plist</string>
	<string>com.apple.ptpcamerad.plist</string>
	<string>com.apple.quicklook.plist</string>
	<string>com.apple.quicklook.ThumbnailsAgent.plist</string>
	<string>com.apple.quicklook.ui.helper.plist</string>
	<string>com.apple.racoon.plist</string>
	<string>com.apple.rapportd-user.plist</string>
	<string>com.apple.rapportd.plist</string>
	<string>com.apple.RapportUIAgent.plist</string>
	<string>com.apple.rcd.plist</string>
	<string>com.apple.recentsd.plist</string>
	<string>com.apple.relatived.plist</string>
	<string>com.apple.remindd.plist</string>
	<string>com.apple.remoted.plist</string>
	<string>com.apple.RemoteDesktop.plist</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy.plist</string>
	<string>com.apple.RemoteManagementAgent.plist</string>
	<string>com.apple.remotemanagementd.plist</string>
	<string>com.apple.remotepairtool.plist</string>
	<string>com.apple.replayd.plist</string>
	<string>com.apple.ReportCrash.plist</string>
	<string>com.apple.ReportCrash.Root.plist</string>
	<string>com.apple.ReportGPURestart.plist</string>
	<string>com.apple.ReportMemoryException.plist</string>
	<string>com.apple.retimerd.plist</string>
	<string>com.apple.reversetemplated.plist</string>
	<string>com.apple.revisiond.plist</string>
	<string>com.apple.RFBEventHelper.plist</string>
	<string>com.apple.routined.plist</string>
	<string>com.apple.rpcbind.plist</string>
	<string>com.apple.rtcreportingd.plist</string>
	<string>com.apple.runningboardd.plist</string>
	<string>com.apple.Safari.History.plist</string>
	<string>com.apple.Safari.PasswordBreachAgent.plist</string>
	<string>com.apple.Safari.SafeBrowsing.Service.plist</string>
	<string>com.apple.SafariBookmarksSyncAgent.plist</string>
	<string>com.apple.SafariHistoryServiceAgent.plist</string>
	<string>com.apple.SafariLaunchAgent.plist</string>
	<string>com.apple.SafariNotificationAgent.plist</string>
	<string>com.apple.SafeEjectGPUAgent.plist</string>
	<string>com.apple.SafeEjectGPUStartupDaemon.plist</string>
	<string>com.apple.sandboxd.plist</string>
	<string>com.apple.SCHelper.plist</string>
	<string>com.apple.scopedbookmarkagent.xpc.plist</string>
	<string>com.apple.screencaptureui.plist</string>
	<string>com.apple.ScreenReaderUIServer.plist</string>
	<string>com.apple.screensharing.agent.plist</string>
	<string>com.apple.screensharing.menuextra.plist</string>
	<string>com.apple.screensharing.MessagesAgent.plist</string>
	<string>com.apple.screensharing.plist</string>
	<string>com.apple.ScreenTimeAgent.plist</string>
	<string>com.apple.ScriptMenuApp.plist</string>
	<string>com.apple.scrod.plist</string>
	<string>com.apple.scsid.plist</string>
	<string>com.apple.secd.plist</string>
	<string>com.apple.secinitd.plist</string>
	<string>com.apple.secinitd.plist</string>
	<string>com.apple.SecureBackupDaemon.plist</string>
	<string>com.apple.security.agent.login.plist</string>
	<string>com.apple.security.agent.plist</string>
	<string>com.apple.security.authhost.plist</string>
	<string>com.apple.security.authtrampoline.plist</string>
	<string>com.apple.security.cloudkeychainproxy3.plist</string>
	<string>com.apple.security.cryptexd.plist</string>
	<string>com.apple.security.DiskUnmountWatcher.plist</string>
	<string>com.apple.security.FDERecoveryAgent.plist</string>
	<string>com.apple.security.keychain-circle-notification.plist</string>
	<string>com.apple.security.KeychainStasher.plist</string>
	<string>com.apple.security.syspolicy.plist</string>
	<string>com.apple.securityd.plist</string>
	<string>com.apple.securityd.system.plist</string>
	<string>com.apple.securityd_service.plist</string>
	<string>com.apple.securityuploadd.plist</string>
	<string>com.apple.seld.plist</string>
	<string>com.apple.ServicesUIAgent.plist</string>
	<string>com.apple.seserviced.plist</string>
	<string>com.apple.sessionlogoutd.plist</string>
	<string>com.apple.sharingd.plist</string>
	<string>com.apple.shazamd.plist</string>
	<string>com.apple.sidecar-hid-relay.plist</string>
	<string>com.apple.sidecar-relay.plist</string>
	<string>com.apple.signpost.signpost_reporter.plist</string>
	<string>com.apple.Siri.agent.plist</string>
	<string>com.apple.siriactionsd.plist</string>
	<string>com.apple.siriinferenced.plist</string>
	<string>com.apple.siriknowledged.plist</string>
	<string>com.apple.sirittsd.plist</string>
	<string>com.apple.SiriTTSTrainingAgent.plist</string>
	<string>com.apple.smb.preferences.plist</string>
	<string>com.apple.smbd.plist</string>
	<string>com.apple.sntpd.plist</string>
	<string>com.apple.sociallayerd.plist</string>
	<string>com.apple.softwareupdate_firstrun_tasks.plist</string>
	<string>com.apple.softwareupdated.plist</string>
	<string>com.apple.SoftwareUpdateNotificationManager.plist</string>
	<string>com.apple.SpacesTouchBarAgent.plist</string>
	<string>com.apple.speech.speechdatainstallerd.plist</string>
	<string>com.apple.speech.speechsynthesisd.arm64.plist</string>
	<string>com.apple.speech.speechsynthesisd.x86_64.plist</string>
	<string>com.apple.speech.synthesisserver.plist</string>
	<string>com.apple.spindump.plist</string>
	<string>com.apple.spindump_agent.plist</string>
	<string>com.apple.sportsd.plist</string>
	<string>com.apple.Spotlight.plist</string>
	<string>com.apple.spotlightknowledged.plist</string>
	<string>com.apple.SSInvitationAgent.plist</string>
	<string>com.apple.startupdiskhelper.plist</string>
	<string>com.apple.statd.notify.plist</string>
	<string>com.apple.StatusKitAgent.plist</string>
	<string>com.apple.stickersd.plist</string>
	<string>com.apple.storagekitd.plist</string>
	<string>com.apple.StorageManagement.Service.plist</string>
	<string>com.apple.StorageManagementUIHelper.plist</string>
	<string>com.apple.storeaccountd.plist</string>
	<string>com.apple.storeassetd.plist</string>
	<string>com.apple.storedownloadd.plist</string>
	<string>com.apple.storekitagent.plist</string>
	<string>com.apple.storelegacy.plist</string>
	<string>com.apple.storereceiptinstaller.plist</string>
	<string>com.apple.storeuid.plist</string>
	<string>com.apple.SubmitDiagInfo.plist</string>
	<string>com.apple.suggestd.plist</string>
	<string>com.apple.suhelperd.plist</string>
	<string>com.apple.swcd.plist</string>
	<string>com.apple.symptomsd-diag.plist</string>
	<string>com.apple.symptomsd-diag.plist</string>
	<string>com.apple.symptomsd.plist</string>
	<string>com.apple.synapse.contentlinkingd.plist</string>
	<string>com.apple.syncdefaultsd.plist</string>
	<string>com.apple.syncservices.SyncServer.plist</string>
	<string>com.apple.syncservices.uihandler.plist</string>
	<string>com.apple.sysdiagnose.darwinos.plist</string>
	<string>com.apple.sysdiagnose.plist</string>
	<string>com.apple.sysdiagnose_agent.plist</string>
	<string>com.apple.sysdiagnose_helper.plist</string>
	<string>com.apple.sysextd.plist</string>
	<string>com.apple.syslogd.plist</string>
	<string>com.apple.sysmond.plist</string>
	<string>com.apple.system_installd.plist</string>
	<string>com.apple.systemkeychain.plist</string>
	<string>com.apple.systemprofiler.plist</string>
	<string>com.apple.systemsettingsagent.plist</string>
	<string>com.apple.systemstats.analysis.plist</string>
	<string>com.apple.systemstats.daily.plist</string>
	<string>com.apple.systemstats.microstackshot_periodic.plist</string>
	<string>com.apple.systemstatusd.plist</string>
	<string>com.apple.SystemUIServer.plist</string>
	<string>com.apple.tailspind.plist</string>
	<string>com.apple.talagent.plist</string>
	<string>com.apple.taskgated-helper.plist</string>
	<string>com.apple.taskgated.plist</string>
	<string>com.apple.tccd.plist</string>
	<string>com.apple.tccd.system.plist</string>
	<string>com.apple.telephonyutilities.callservicesd.plist</string>
	<string>com.apple.testmanagerd.plist</string>
	<string>com.apple.testmanagerd.plist</string>
	<string>com.apple.TextInputMenuAgent.plist</string>
	<string>com.apple.TextInputSwitcher.plist</string>
	<string>com.apple.textunderstandingd.plist</string>
	<string>com.apple.thermald.plist</string>
	<string>com.apple.thermalmonitord.plist</string>
	<string>com.apple.thermaltrap.plist</string>
	<string>com.apple.timed.plist</string>
	<string>com.apple.timesync.audioclocksyncd.plist</string>
	<string>com.apple.timezoneupdates.tzd.plist</string>
	<string>com.apple.timezoneupdates.tznotify.plist</string>
	<string>com.apple.tipsd.plist</string>
	<string>com.apple.TMHelperAgent.plist</string>
	<string>com.apple.tmp_cleaner.plist</string>
	<string>com.apple.touchbarserver.plist</string>
	<string>com.apple.tracd.plist</string>
	<string>com.apple.translationd.plist</string>
	<string>com.apple.transparencyd.plist</string>
	<string>com.apple.transparencyStaticKey.plist</string>
	<string>com.apple.triald.plist</string>
	<string>com.apple.triald.system.plist</string>
	<string>com.apple.trustd.agent.plist</string>
	<string>com.apple.trustd.plist</string>
	<string>com.apple.trustdFileHelper.plist</string>
	<string>com.apple.TrustEvaluationAgent.plist</string>
	<string>com.apple.TrustEvaluationAgent.system.plist</string>
	<string>com.apple.tzlinkd.plist</string>
	<string>com.apple.ucupdate.plist</string>
	<string>com.apple.uikitsystemapp.plist</string>
	<string>com.apple.uninstalld.plist</string>
	<string>com.apple.universalaccessAuthWarn.plist</string>
	<string>com.apple.universalaccesscontrol.plist</string>
	<string>com.apple.universalaccessd.plist</string>
	<string>com.apple.unmountassistant.sysagent.plist</string>
	<string>com.apple.unmountassistant.useragent.plist</string>
	<string>com.apple.UpdateSettings.plist</string>
	<string>com.apple.UsageTrackingAgent.plist</string>
	<string>com.apple.USBAgent.plist</string>
	<string>com.apple.usbd.plist</string>
	<string>com.apple.usbsmartcardreaderd.plist</string>
	<string>com.apple.UserEventAgent-Aqua.plist</string>
	<string>com.apple.UserEventAgent-CryptexContainer.plist</string>
	<string>com.apple.UserEventAgent-LoginWindow.plist</string>
	<string>com.apple.UserEventAgent-System.plist</string>
	<string>com.apple.usermanagerhelper.plist</string>
	<string>com.apple.usernoted.plist</string>
	<string>com.apple.UserNotificationCenter.plist</string>
	<string>com.apple.UserNotificationCenterAgent-LoginWindow.plist</string>
	<string>com.apple.UserNotificationCenterAgent.plist</string>
	<string>com.apple.usernotificationsd.plist</string>
	<string>com.apple.UserPictureSyncAgent.plist</string>
	<string>com.apple.uucp.plist</string>
	<string>com.apple.videosubscriptionsd.plist</string>
	<string>com.apple.Virtualization.AppleVirtualPlatformHIDBridge.plist</string>
	<string>com.apple.voicebankingd.plist</string>
	<string>com.apple.voicememod.plist</string>
	<string>com.apple.VoiceOver.plist</string>
	<string>com.apple.vsdbutil.plist</string>
	<string>com.apple.wallpaper.export.plist</string>
	<string>com.apple.wallpaper.plist</string>
	<string>com.apple.warmd.plist</string>
	<string>com.apple.warmd_agent.plist</string>
	<string>com.apple.watchdogd.plist</string>
	<string>com.apple.watchlistd.plist</string>
	<string>com.apple.weatherd.plist</string>
	<string>com.apple.webinspectord.plist</string>
	<string>com.apple.webkit.webpushd.plist</string>
	<string>com.apple.webprivacyd.plist</string>
	<string>com.apple.wifi.WiFiAgent.plist</string>
	<string>com.apple.wifianalyticsd.plist</string>
	<string>com.apple.wifiFirmwareLoader.plist</string>
	<string>com.apple.wifip2pd.plist</string>
	<string>com.apple.WiFiVelocityAgent.plist</string>
	<string>com.apple.wifivelocityd.plist</string>
	<string>com.apple.WindowManager.plist</string>
	<string>com.apple.WindowServer.plist</string>
	<string>com.apple.WirelessRadioManager-osx.plist</string>
	<string>com.apple.wwand.plist</string>
	<string>com.apple.xartstorageremoted.plist</string>
	<string>com.apple.xpc.loginitemregisterd.plist</string>
	<string>com.apple.xpc.otherbsd.plist</string>
	<string>com.apple.xpc.roleaccountd.plist</string>
	<string>com.apple.xpc.smd.plist</string>
	<string>com.apple.xpc.uscwoap.plist</string>
	<string>com.apple.xsan.plist</string>
	<string>com.apple.xscertadmin.plist</string>
	<string>com.apple.xscertd-helper.plist</string>
	<string>com.apple.xscertd.plist</string>
	<string>com.openssh.ssh-agent.plist</string>
	<string>com.vix.cron.plist</string>
	<string>ntalk.plist</string>
	<string>org.apache.httpd.plist</string>
	<string>org.cups.cups-lpd.plist</string>
	<string>org.cups.cupsd.plist</string>
	<string>org.net-snmp.snmpd.plist</string>
	<string>org.openldap.slapd.plist</string>
	<string>ssh.plist</string>
	<string>tftp.plist</string>
</array>
</plist>
