<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AppleHIDMouseAgent.plugin</string>
	<string>ApplicationFirewallStartup.bundle</string>
	<string>BluetoothUserAgent-Plugin.plugin</string>
	<string>BonjourEvents.plugin</string>
	<string>builtin:authenticate,privileged</string>
	<string>builtin:auto-login,privileged</string>
	<string>builtin:forward-login,privileged</string>
	<string>builtin:login-begin</string>
	<string>builtin:login-success</string>
	<string>builtin:policy-banner</string>
	<string>builtin:prelogin</string>
	<string>builtin:reset-password,privileged</string>
	<string>CaptiveNetworkSupport.bundle</string>
	<string>CaptiveUserAgent.plugin</string>
	<string>com.apple.alarm.plugin</string>
	<string>com.apple.AppleKeyStoreEvents.plugin</string>
	<string>com.apple.bonjour.plugin</string>
	<string>com.apple.cfnotification.plugin</string>
	<string>com.apple.cts.plugin</string>
	<string>com.apple.diskarbitration.plugin</string>
	<string>com.apple.dispatch.vfs.plugin</string>
	<string>com.apple.ExternalAccessory.matching.plugin</string>
	<string>com.apple.fsevents.matching.plugin</string>
	<string>com.apple.iokit.matching.plugin</string>
	<string>com.apple.launchd.helper.plugin</string>
	<string>com.apple.lockout.lifecycle.plugin</string>
	<string>com.apple.netsvcproxy.plugin</string>
	<string>com.apple.networkextension.plugin</string>
	<string>com.apple.nsurlsessiond.plugin</string>
	<string>com.apple.opendirectory.matching.plugin</string>
	<string>com.apple.rapport.events.plugin</string>
	<string>com.apple.rcdevent.matching.plugin</string>
	<string>com.apple.reachability.plugin</string>
	<string>com.apple.systemconfiguration.plugin</string>
	<string>com.apple.tailspin.plugin</string>
	<string>com.apple.telemetry.plugin</string>
	<string>com.apple.time.plugin</string>
	<string>com.apple.touchbar.matching.plugin</string>
	<string>com.apple.universalaccess.events.plugin</string>
	<string>com.apple.usernotificationcenter.matching.plugin</string>
	<string>com.apple.WorkstationService.plugin</string>
	<string>CryptoTokenKit.bundle</string>
	<string>DiskUnlock.bundle</string>
	<string>EAPOLController.bundle</string>
	<string>EAPOLMonitor.plugin</string>
	<string>FamilyControls.bundle</string>
	<string>GSSNotificationForwarder.plugin</string>
	<string>HighPointIOP.kext</string>
	<string>HighPointRR.kext</string>
	<string>HomeDirMechanism.bundle</string>
	<string>iBooksAuthor.mdimporter</string>
	<string>InterfaceNamer.bundle</string>
	<string>InternetSharingPreference.bundle</string>
	<string>IPConfiguration.bundle</string>
	<string>IPMonitor.bundle</string>
	<string>KerberosAgent.bundle</string>
	<string>KernelEventMonitor.bundle</string>
	<string>LinkConfiguration.bundle</string>
	<string>LocalAuthentication.bundle</string>
	<string>loginKC.bundle</string>
	<string>loginwindow.bundle</string>
	<string>MCXMechanism.bundle</string>
	<string>MemoryMonitor.plugin</string>
	<string>MobileKeyBagLockState.plugin</string>
	<string>PerfPowerServicesEventListenerPlugin.plugin</string>
	<string>PKINITMechanism.bundle</string>
	<string>PPPController.bundle</string>
	<string>PreferencesMonitor.bundle</string>
	<string>PrinterMonitor.plugin</string>
	<string>PrinterNotifications.bundle</string>
	<string>PSSOAuthPlugin.bundle</string>
	<string>QoSMarking.bundle</string>
	<string>RestartAuthorization.bundle</string>
	<string>routined.events.plugin</string>
	<string>SCMonitor.plugin</string>
	<string>SoftRAID.kext</string>
	<string>SystemPolicyEvents.plugin</string>
	<string>TimeMachineUEAPlugin.plugin</string>
	<string>USBDeviceConfiguration.bundle</string>
</array>
</plist>
