<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.accessories.connection-info-server</string>
	<string>com.apple.accessories.externalaccessory-server</string>
	<string>com.apple.accessories.hid</string>
	<string>com.apple.accessories.now-playing</string>
	<string>com.apple.accessories.transport-server</string>
	<string>com.apple.accessoryupdater.launchauhelper</string>
	<string>com.apple.accessoryupdater.observer</string>
	<string>com.apple.accessoryupdater.uarp</string>
	<string>com.apple.accessoryupdater.uarp.launchagentlistener</string>
	<string>com.apple.accessoryupdater.uarp.standaloneCommandListener</string>
	<string>com.apple.AccountPolicyHelper</string>
	<string>com.apple.adid</string>
	<string>com.apple.afpfs_afpLoad</string>
	<string>com.apple.afpfs_checkafp</string>
	<string>com.apple.AirPlayXPCHelper</string>
	<string>com.apple.airport.wps</string>
	<string>com.apple.airportd</string>
	<string>com.apple.alf</string>
	<string>com.apple.AmbientDisplayAgent</string>
	<string>com.apple.amfi.lockdown</string>
	<string>com.apple.analyticsd</string>
	<string>com.apple.analyticsd.messagetracer</string>
	<string>com.apple.aned.CacheDelete</string>
	<string>com.apple.aneuserd</string>
	<string>com.apple.aneuserd.CacheDelete</string>
	<string>com.apple.appinstalld</string>
	<string>com.apple.appleh13camerad</string>
	<string>com.apple.appleh16camerad</string>
	<string>com.apple.appleneuralengine</string>
	<string>com.apple.appleneuralengine.private</string>
	<string>com.apple.appleseed.fbahelperd</string>
	<string>com.apple.AppStoreDaemon.StorePrivilegedTaskService</string>
	<string>com.apple.aps.diagnosticpipeline.tasking</string>
	<string>com.apple.aps.ManagedClient.enroll</string>
	<string>com.apple.aps.mdmclient.daemon.push.development</string>
	<string>com.apple.aps.mdmclient.daemon.push.production</string>
	<string>com.apple.aps.mobileassetd</string>
	<string>com.apple.aps.remotemanagementd.http.apns-dev</string>
	<string>com.apple.aps.remotemanagementd.http.apns-prod</string>
	<string>com.apple.apsd</string>
	<string>com.apple.arcade.fpsd</string>
	<string>com.apple.aslmanager</string>
	<string>com.apple.asr</string>
	<string>com.apple.AssetCache.builtin</string>
	<string>com.apple.AssetCache.builtin.CacheDelete</string>
	<string>com.apple.AssetCacheC.builtin</string>
	<string>com.apple.AssetCacheLocatorService</string>
	<string>com.apple.AssetCacheManagerService</string>
	<string>com.apple.AssetCacheTetheratorService</string>
	<string>com.apple.audio.AudioComponentRegistrar</string>
	<string>com.apple.audio.audiohald</string>
	<string>com.apple.audio.AudioSession</string>
	<string>com.apple.audio.coreaudiod</string>
	<string>com.apple.audio.driver-registrar</string>
	<string>com.apple.audio.SystemSoundServer-OSX</string>
	<string>com.apple.audio.toolbox.reporting.service</string>
	<string>com.apple.audioanalyticsd</string>
	<string>com.apple.authd</string>
	<string>com.apple.automountd</string>
	<string>com.apple.AutoUnlock.System.AuthenticationHintsProvider</string>
	<string>com.apple.avb.acquiremode</string>
	<string>com.apple.avb.audio.configuration</string>
	<string>com.apple.avb.audio.driver</string>
	<string>com.apple.avb.daemonconfig</string>
	<string>com.apple.awdd</string>
	<string>com.apple.AXMediaUtilitiesService</string>
	<string>com.apple.backgroundtaskmanagement</string>
	<string>com.apple.backgroundtaskmanagement.responses</string>
	<string>com.apple.backgroundtaskmanagement.sfl</string>
	<string>com.apple.backlightd</string>
	<string>com.apple.backupd</string>
	<string>com.apple.backupd-helper.status</string>
	<string>com.apple.backupd-status</string>
	<string>com.apple.biome.access.system</string>
	<string>com.apple.biome.compute.publisher.service</string>
	<string>com.apple.biome.compute.source</string>
	<string>com.apple.biometrickitd</string>
	<string>com.apple.BlueTool</string>
	<string>com.apple.bluetooth.BTPacketLogger</string>
	<string>com.apple.BluetoothUIService</string>
	<string>com.apple.bootinstalld</string>
	<string>com.apple.bosreporter</string>
	<string>com.apple.bridgeOSUpdateProxy</string>
	<string>com.apple.bsd.dirhelper</string>
	<string>com.apple.BTServer.le</string>
	<string>com.apple.captiveagent</string>
	<string>com.apple.CARenderServer</string>
	<string>com.apple.cfnetwork.cfnetworkagent</string>
	<string>com.apple.cfprefsd.daemon</string>
	<string>com.apple.CipherMLService</string>
	<string>com.apple.cloudasset.cloudd.system</string>
	<string>com.apple.cloudd.system</string>
	<string>com.apple.cloudd.system.cache-delete</string>
	<string>com.apple.cmio.AVCAssistant</string>
	<string>com.apple.cmio.IIDCVideoAssistant</string>
	<string>com.apple.cmio.iOSScreenCaptureAssistant</string>
	<string>com.apple.cmio.registerassistantservice</string>
	<string>com.apple.cmio.registerassistantservice.system-extensions</string>
	<string>com.apple.cmio.system-extensions</string>
	<string>com.apple.cmio.uvcassistantextension</string>
	<string>com.apple.cmio.VDCAssistant</string>
	<string>com.apple.CodeSigningHelper</string>
	<string>com.apple.colorsync.displayservices</string>
	<string>com.apple.colorsyncd</string>
	<string>com.apple.containermanagerd</string>
	<string>com.apple.containermanagerd.system</string>
	<string>com.apple.CoreAuthentication.daemon</string>
	<string>com.apple.CoreAuthentication.daemon.EndpointProvider</string>
	<string>com.apple.CoreAuthentication.daemon.libxpc</string>
	<string>com.apple.corecaptured</string>
	<string>com.apple.CoreDisplay.master</string>
	<string>com.apple.CoreDisplay.Notification</string>
	<string>com.apple.coreduetd.context</string>
	<string>com.apple.coreduetd.knowledge</string>
	<string>com.apple.coreduetd.people</string>
	<string>com.apple.coreservices.appleevents</string>
	<string>com.apple.CoreServices.coreservicesd</string>
	<string>com.apple.coreservices.launchservicesd</string>
	<string>com.apple.CoreSimulator.simdiskimaged</string>
	<string>com.apple.corespotlight.receiver.coreduet</string>
	<string>com.apple.corestorage.corestoragehelperd</string>
	<string>com.apple.coresymbolicationd</string>
	<string>com.apple.coresymbolicationd.cache-delete</string>
	<string>com.apple.corewlan-xpc</string>
	<string>com.apple.countryd.update</string>
	<string>com.apple.CrashReporterSupportHelper</string>
	<string>com.apple.CryptoTokenKit.AuthenticationHintsProvider</string>
	<string>com.apple.CryptoTokenKit.AuthenticationHintsProvider.daemon.libxpc</string>
	<string>com.apple.ctkd.slot-client</string>
	<string>com.apple.ctkd.slot-registry</string>
	<string>com.apple.ctkd.token-client</string>
	<string>com.apple.cvmsServ</string>
	<string>com.apple.DASDelegateService</string>
	<string>com.apple.DataDetectorsSourceAccess</string>
	<string>com.apple.deleted_helper</string>
	<string>com.apple.DesktopServicesHelper</string>
	<string>com.apple.diagnosticd</string>
	<string>com.apple.diagnosticextensions.osx.spotlight.helper</string>
	<string>com.apple.diagnosticextensions.osx.timemachine.helper</string>
	<string>com.apple.diagnosticpipeline.service</string>
	<string>com.apple.diagnosticpipeline.tasking.service</string>
	<string>com.apple.DiskArbitration.diskarbitrationd</string>
	<string>com.apple.diskimagesiod.cachedelete</string>
	<string>com.apple.distributed_notifications@0v3</string>
	<string>com.apple.distributed_notifications@1v3</string>
	<string>com.apple.dnssd.service</string>
	<string>com.apple.dpaudiothru</string>
	<string>com.apple.dpd</string>
	<string>com.apple.dprivacyd</string>
	<string>com.apple.dt.automationmode.reader</string>
	<string>com.apple.dt.automationmode.writer</string>
	<string>com.apple.dt.RemotePairingDataVaultHelper</string>
	<string>com.apple.dt.xctestd.remote.target</string>
	<string>com.apple.duetactivityscheduler</string>
	<string>com.apple.DumpPanic.Accessory.PanicReceived</string>
	<string>com.apple.dvdplayback.setregion_service</string>
	<string>com.apple.eapolcfg_auth</string>
	<string>com.apple.efilogin-helper</string>
	<string>com.apple.endpointsecurity.endpointsecurityd.mig</string>
	<string>com.apple.endpointsecurity.system-extensions</string>
	<string>com.apple.erasecontentsettingshelperd</string>
	<string>com.apple.ESUXPCHelper</string>
	<string>com.apple.ExposureNotification</string>
	<string>com.apple.fairplayd</string>
	<string>com.apple.fairplaydeviceidentityd</string>
	<string>com.apple.familycontrols</string>
	<string>com.apple.familycontrols.authorizer</string>
	<string>com.apple.FileCoordination</string>
	<string>com.apple.FileCoordination.kernel.ipc</string>
	<string>com.apple.filesystems.fskitd</string>
	<string>com.apple.filesystems.localLiveFiles</string>
	<string>com.apple.filesystems.userfs_helper</string>
	<string>com.apple.filesystems.userfsd</string>
	<string>com.apple.findmy.findmybeaconingd.push</string>
	<string>com.apple.findmy.LocalBeaconing</string>
	<string>com.apple.findmymacd</string>
	<string>com.apple.findmymacmessenger</string>
	<string>com.apple.fontmover</string>
	<string>com.apple.fpsd</string>
	<string>com.apple.fpsd.arcadeservice</string>
	<string>com.apple.fpsd.sim</string>
	<string>com.apple.FSEvents</string>
	<string>com.apple.fskit.fskit_helper</string>
	<string>com.apple.GameController.gamecontrollerd</string>
	<string>com.apple.GameController.gamecontrollerd.agent</string>
	<string>com.apple.GameController.gamecontrollerd.app</string>
	<string>com.apple.GameController.gamecontrollerd.driver</string>
	<string>com.apple.GameController.gamecontrollerd.haptics</string>
	<string>com.apple.gamepolicyd.app</string>
	<string>com.apple.gamepolicyd.mobile-asset</string>
	<string>com.apple.gamepolicyd.tool</string>
	<string>com.apple.gamepolicyd.tool.privileged</string>
	<string>com.apple.gpumemd.client</string>
	<string>com.apple.gpumemd.source</string>
	<string>com.apple.griddatad.registration</string>
	<string>com.apple.GSSCred</string>
	<string>com.apple.gssd</string>
	<string>com.apple.hidpreferenceshelper</string>
	<string>com.apple.icloud.findmydeviced</string>
	<string>com.apple.icloud.findmydeviced.aps-demo</string>
	<string>com.apple.icloud.findmydeviced.aps-development</string>
	<string>com.apple.icloud.findmydeviced.aps-production</string>
	<string>com.apple.icloud.findmydeviced.ua-services</string>
	<string>com.apple.icloud.searchpartyd.accessorydiscoverymanager</string>
	<string>com.apple.icloud.searchpartyd.advertisementcache</string>
	<string>com.apple.icloud.searchpartyd.beaconmanager</string>
	<string>com.apple.icloud.searchpartyd.beaconmanager.agentdaemoninternal</string>
	<string>com.apple.icloud.searchpartyd.finderstatemanager</string>
	<string>com.apple.icloud.searchpartyd.pairingmanager</string>
	<string>com.apple.icloud.searchpartyd.scheduler</string>
	<string>com.apple.iconservices</string>
	<string>com.apple.iconservices.store</string>
	<string>com.apple.idleassetsd.CacheDelete</string>
	<string>com.apple.installandsetup.systemmigrationd.Customize</string>
	<string>com.apple.installandsetup.systemmigrationd.Debug</string>
	<string>com.apple.installandsetup.systemmigrationd.MigrateFrom</string>
	<string>com.apple.installandsetup.systemmigrationd.ODUtils</string>
	<string>com.apple.installandsetup.systemmigrationd.Pairing</string>
	<string>com.apple.installandsetup.systemmigrationd.Progress</string>
	<string>com.apple.installandsetup.systemmigrationd.SelectSource</string>
	<string>com.apple.installcoordinationd</string>
	<string>com.apple.installd</string>
	<string>com.apple.installd.CacheDelete</string>
	<string>com.apple.InstallerDiagnostics.installerdiagd</string>
	<string>com.apple.InstallerProgress</string>
	<string>com.apple.internal.aupbregistrarservice</string>
	<string>com.apple.iohideventsystem</string>
	<string>com.apple.iokit.ioserviceauthorized</string>
	<string>com.apple.iokit.powerdxpc</string>
	<string>com.apple.iokit.scsid</string>
	<string>com.apple.IOUPSPlugInServer</string>
	<string>com.apple.kcproxy</string>
	<string>com.apple.KernelExtensionServer</string>
	<string>com.apple.KernelManagementHelperServer</string>
	<string>com.apple.KernelManagementPingServer</string>
	<string>com.apple.kernelmanagerd.system-extensions</string>
	<string>com.apple.libquitd</string>
	<string>com.apple.LocalAuthentication.apctk</string>
	<string>com.apple.LocalAuthentication.apd</string>
	<string>com.apple.LocalAuthentication.appassword</string>
	<string>com.apple.LocalAuthentication.aptouchid</string>
	<string>com.apple.LocalAuthentication.AuthenticationHintsProvider</string>
	<string>com.apple.LocalAuthentication.RemoteUIHost</string>
	<string>com.apple.locationd.desktop.agent</string>
	<string>com.apple.locationd.desktop.registration</string>
	<string>com.apple.locationd.desktop.spi</string>
	<string>com.apple.locationd.desktop.synchronous</string>
	<string>com.apple.locationd.routine</string>
	<string>com.apple.locationd.simulation</string>
	<string>com.apple.lockd</string>
	<string>com.apple.logd</string>
	<string>com.apple.logd.admin</string>
	<string>com.apple.logd.cachedelete</string>
	<string>com.apple.logd.events</string>
	<string>com.apple.logd.watchdog</string>
	<string>com.apple.logd_helper</string>
	<string>com.apple.logind</string>
	<string>com.apple.loginwindow</string>
	<string>com.apple.lsd.advertisingidentifiers</string>
	<string>com.apple.lsd.diagnostics</string>
	<string>com.apple.lsd.dissemination</string>
	<string>com.apple.lsd.encryption</string>
	<string>com.apple.lsd.extensions</string>
	<string>com.apple.lsd.mapdb</string>
	<string>com.apple.lsd.modifydb</string>
	<string>com.apple.lsd.open</string>
	<string>com.apple.lsd.openurl</string>
	<string>com.apple.lsd.personaobserver</string>
	<string>com.apple.lsd.plugin</string>
	<string>com.apple.lsd.trustedsignatures</string>
	<string>com.apple.lskdd</string>
	<string>com.apple.ManagedClient.agent</string>
	<string>com.apple.ManagedClient.cloudconfigurationd</string>
	<string>com.apple.ManagedClient.mechanism</string>
	<string>com.apple.managedconfiguration.teslad</string>
	<string>com.apple.mbsystemadministration</string>
	<string>com.apple.mbusertrampoline</string>
	<string>com.apple.mdmclient.daemon</string>
	<string>com.apple.mdmclient.daemon.unrestricted</string>
	<string>com.apple.mDNSResponder.control</string>
	<string>com.apple.mDNSResponder.dnsproxy</string>
	<string>com.apple.mDNSResponder.log_utility</string>
	<string>com.apple.mDNSResponder_Helper</string>
	<string>com.apple.metadata.mds</string>
	<string>com.apple.metadata.mds.cachedelete</string>
	<string>com.apple.metadata.mds.index</string>
	<string>com.apple.metadata.mds.legacy</string>
	<string>com.apple.metadata.mds.scan</string>
	<string>com.apple.metadata.mds.spindump</string>
	<string>com.apple.metadata.mds.xpcs</string>
	<string>com.apple.misagent</string>
	<string>com.apple.mmaintenanced.server</string>
	<string>com.apple.mobile.keybagd.mach</string>
	<string>com.apple.mobile.NRDUpdated</string>
	<string>com.apple.mobile.obliteration</string>
	<string>com.apple.mobile.softwareupdated</string>
	<string>com.apple.mobile.storage_mounter_proxy</string>
	<string>com.apple.MobileAccessoryUpdater</string>
	<string>com.apple.MobileAccessoryUpdater.defaultClient</string>
	<string>com.apple.mobileactivationd</string>
	<string>com.apple.mobileasset.autoasset</string>
	<string>com.apple.mobileassetd</string>
	<string>com.apple.mobileassetd.cache-delete</string>
	<string>com.apple.mobileassetd.push-notifications</string>
	<string>com.apple.mobileassetd.v2</string>
	<string>com.apple.MobileFileIntegrity</string>
	<string>com.apple.MobileInstallationHelperService</string>
	<string>com.apple.MobileSoftwareUpdate.CleanupPreparePathService</string>
	<string>com.apple.MobileSoftwareUpdate.CryptegraftService</string>
	<string>com.apple.nearbyd.xpc.nearbyinteraction</string>
	<string>com.apple.nearbyd.xpc.nearbyinteraction.observer</string>
	<string>com.apple.nehelper</string>
	<string>com.apple.nesessionmanager</string>
	<string>com.apple.nesessionmanager.content-filter</string>
	<string>com.apple.nesessionmanager.flow-divert-token</string>
	<string>com.apple.nesessionmanager.system-extensions</string>
	<string>com.apple.netauth.sys.auth</string>
	<string>com.apple.netauth.sys.gui</string>
	<string>com.apple.network.EAPOLController</string>
	<string>com.apple.network.IPConfiguration</string>
	<string>com.apple.networkd_privileged</string>
	<string>com.apple.networking.captivenetworksupport</string>
	<string>com.apple.NetworkLinkConditioner</string>
	<string>com.apple.NetworkSharing</string>
	<string>com.apple.nfcd</string>
	<string>com.apple.nfcd.hwmanager</string>
	<string>com.apple.nfrestore</string>
	<string>com.apple.noticeboard.state</string>
	<string>com.apple.nsurlsessiond</string>
	<string>com.apple.nsurlsessiond-cachedelete</string>
	<string>com.apple.nsurlsessiond-launchondemand</string>
	<string>com.apple.oahd</string>
	<string>com.apple.oahd-root-helper</string>
	<string>com.apple.ocspd</string>
	<string>com.apple.opendirectoryd.osWatchdog</string>
	<string>com.apple.osanalytics.diagnosticmonitor</string>
	<string>com.apple.osanalytics.osanalyticshelper</string>
	<string>com.apple.OSASubmission.client</string>
	<string>com.apple.OSASyncProxy.client</string>
	<string>com.apple.OSIntelligence</string>
	<string>com.apple.OSIntelligence.battery</string>
	<string>com.apple.OSIntelligence.charging</string>
	<string>com.apple.PerformanceTrace.PerformanceTraceService</string>
	<string>com.apple.pfd</string>
	<string>com.apple.PlatformSSO.daemon-xpc</string>
	<string>com.apple.PlatformSSO.login.service-xpc</string>
	<string>com.apple.powerd.lowpowermode</string>
	<string>com.apple.powerdatad</string>
	<string>com.apple.powerlog.CacheDelete</string>
	<string>com.apple.powerlog_mover</string>
	<string>com.apple.PowerManagement.control</string>
	<string>com.apple.powerui.bdcdata</string>
	<string>com.apple.powerui.smartChargeManager</string>
	<string>com.apple.preferences.timezone.admintool</string>
	<string>com.apple.printtool.daemon</string>
	<string>com.apple.private.alloy.timezonesync-idswake</string>
	<string>com.apple.private.corewifi-xpc</string>
	<string>com.apple.private.corewifi.internal-xpc</string>
	<string>com.apple.private.corewifi.readonly-xpc</string>
	<string>com.apple.private.corewifi.unrestricted-xpc</string>
	<string>com.apple.private.opendirectoryd.rpc</string>
	<string>com.apple.proactive.SuggestionRequest.cd_calendar_interaction_suggestions</string>
	<string>com.apple.proactive.SuggestionRequest.ps_facetime_fallback_interaction_model</string>
	<string>com.apple.proactive.SuggestionRequest.ps_facetime_interaction_model</string>
	<string>com.apple.proactive.SuggestionRequest.ps_unstructured_calendar_interaction_suggestions</string>
	<string>com.apple.proactive.SuggestionRequest.ps_unstructured_reminder_interaction_suggestions</string>
	<string>com.apple.ProgressReporting</string>
	<string>com.apple.recoveryos-lockout-service</string>
	<string>com.apple.relatived.internal</string>
	<string>com.apple.relatived.public</string>
	<string>com.apple.relatived.tempest</string>
	<string>com.apple.remoted</string>
	<string>com.apple.remoted.compute-platform</string>
	<string>com.apple.remoted.control</string>
	<string>com.apple.remoted.coredevice</string>
	<string>com.apple.remoted.watchdog</string>
	<string>com.apple.RemoteDesktop.PrivilegeProxy</string>
	<string>com.apple.remotemanagementd</string>
	<string>com.apple.remotemanagementd.store</string>
	<string>com.apple.RemotePairTool</string>
	<string>com.apple.ReportCrash.DirectoryService</string>
	<string>com.apple.ReportMemoryException</string>
	<string>com.apple.ReportMemoryException.CacheDelete</string>
	<string>com.apple.resource_notify.host</string>
	<string>com.apple.revisiond</string>
	<string>com.apple.revisiond.cache-delete</string>
	<string>com.apple.RFBEventHelper</string>
	<string>com.apple.RosettaUpdateService</string>
	<string>com.apple.rpmuxd</string>
	<string>com.apple.rtcreportingd</string>
	<string>com.apple.runningboard</string>
	<string>com.apple.runningboard.resource_notify</string>
	<string>com.apple.sandboxd</string>
	<string>com.apple.searchparty.BeaconKeyService</string>
	<string>com.apple.searchparty.BeaconScanningSession</string>
	<string>com.apple.searchparty.managedperipheral</string>
	<string>com.apple.searchparty.ObservationStoreService</string>
	<string>com.apple.secinitd</string>
	<string>com.apple.secinitd.fileoperations</string>
	<string>com.apple.SecureNetworking.IPSec</string>
	<string>com.apple.security.agent.login</string>
	<string>com.apple.security.AppleSystemPolicy.mig</string>
	<string>com.apple.security.authhost</string>
	<string>com.apple.security.authtrampoline</string>
	<string>com.apple.security.cryptexd</string>
	<string>com.apple.security.syspolicy</string>
	<string>com.apple.security.syspolicy.exec</string>
	<string>com.apple.security.syspolicy.kext</string>
	<string>com.apple.security.translocation</string>
	<string>com.apple.securityd.systemkeychain</string>
	<string>com.apple.securitydservice</string>
	<string>com.apple.SecurityServer</string>
	<string>com.apple.seeding.enrollment-helper</string>
	<string>com.apple.seld.aps</string>
	<string>com.apple.seld.tsmmanager</string>
	<string>com.apple.server.bluetooth</string>
	<string>com.apple.sessionlogoutd</string>
	<string>com.apple.siri.acousticsignature</string>
	<string>com.apple.siriinferenced</string>
	<string>com.apple.siriinferenced.remembers</string>
	<string>com.apple.siriinferenced.signals</string>
	<string>com.apple.sirisuggestions</string>
	<string>com.apple.softwareupdated</string>
	<string>com.apple.softwareupdated.OSUpdate</string>
	<string>com.apple.spindump</string>
	<string>com.apple.spinreporterd</string>
	<string>com.apple.startupdiskhelper</string>
	<string>com.apple.storagekitd</string>
	<string>com.apple.storagekitd.dm</string>
	<string>com.apple.storereceiptinstaller</string>
	<string>com.apple.suhelperd</string>
	<string>com.apple.sumaccontroller</string>
	<string>com.apple.symptom_analytics</string>
	<string>com.apple.symptom_diagnostics</string>
	<string>com.apple.symptoms.symptomsd.managed_events</string>
	<string>com.apple.symptomsd-diag.CacheDelete</string>
	<string>com.apple.sysdiagnose.CacheDelete</string>
	<string>com.apple.sysdiagnose.kernel.ipc</string>
	<string>com.apple.sysdiagnose_helper</string>
	<string>com.apple.sysextd</string>
	<string>com.apple.sysmond</string>
	<string>com.apple.system.DirectoryService.legacy</string>
	<string>com.apple.system.DirectoryService.libinfo_v1</string>
	<string>com.apple.system.DirectoryService.membership_v1</string>
	<string>com.apple.system.hdiejectd</string>
	<string>com.apple.system.Kernel[UNC]Notifications</string>
	<string>com.apple.system.libinfo.muser</string>
	<string>com.apple.system.logger</string>
	<string>com.apple.system.notification_center</string>
	<string>com.apple.system.opendirectoryd.api</string>
	<string>com.apple.system.opendirectoryd.libinfo</string>
	<string>com.apple.system.opendirectoryd.membership</string>
	<string>com.apple.system_installd</string>
	<string>com.apple.system_installd.CacheDelete</string>
	<string>com.apple.systemadministration.writeconfig</string>
	<string>com.apple.SystemConfiguration.configd</string>
	<string>com.apple.SystemConfiguration.configd.watchdog</string>
	<string>com.apple.SystemConfiguration.DNSConfiguration</string>
	<string>com.apple.SystemConfiguration.helper</string>
	<string>com.apple.SystemConfiguration.IPMonitorControl</string>
	<string>com.apple.SystemConfiguration.NetworkCategoryManager</string>
	<string>com.apple.SystemConfiguration.NetworkInformation</string>
	<string>com.apple.SystemConfiguration.PPPController</string>
	<string>com.apple.SystemConfiguration.PPPController-priv</string>
	<string>com.apple.systempreferences.cacheAssistant</string>
	<string>com.apple.systemstats.analysis</string>
	<string>com.apple.systemstatus</string>
	<string>com.apple.systemstatus.activityattribution</string>
	<string>com.apple.systemstatus.publisher</string>
	<string>com.apple.tailspind</string>
	<string>com.apple.tailspind.ktrace_background</string>
	<string>com.apple.taskgated</string>
	<string>com.apple.taskgated</string>
	<string>com.apple.taskgated.helper</string>
	<string>com.apple.tccd.system</string>
	<string>com.apple.thermald</string>
	<string>com.apple.timesync.expositor</string>
	<string>com.apple.timesync.manager</string>
	<string>com.apple.timesync.ptp.manager</string>
	<string>com.apple.timezoneupdates.tzd.server</string>
	<string>com.apple.TMCacheDelete</string>
	<string>com.apple.touchbarserver</string>
	<string>com.apple.touchbarserver.mig</string>
	<string>com.apple.touchbarserver.plugin</string>
	<string>com.apple.touchbarserver.render</string>
	<string>com.apple.triald.system.internal</string>
	<string>com.apple.trustd</string>
	<string>com.apple.trustdFileHelper</string>
	<string>com.apple.TrustedAccessory.XPC</string>
	<string>com.apple.TrustEvaluationAgent</string>
	<string>com.apple.tzlink</string>
	<string>com.apple.ULLAConcierge.xpc.diagnostics</string>
	<string>com.apple.UNCUserNotification</string>
	<string>com.apple.unfreed</string>
	<string>com.apple.uninstalld</string>
	<string>com.apple.unmountassistant.sysagent</string>
	<string>com.apple.usernotifications.delegate.com.apple.ExposureNotification.UserNotification</string>
	<string>com.apple.usernotifications.delegate.com.apple.MediaRemoteUIService</string>
	<string>com.apple.usernotifications.delegate.com.apple.powerui.lowpowermode</string>
	<string>com.apple.usernotifications.delegate.com.apple.powerui.smartcharging</string>
	<string>com.apple.usernotifications.delegate.com.apple.TimeZoneUpdates.tzd</string>
	<string>com.apple.usymptomsd</string>
	<string>com.apple.VDCAssistant.control</string>
	<string>com.apple.VirtualDisplay</string>
	<string>com.apple.wallpaper.export</string>
	<string>com.apple.warmd.server</string>
	<string>com.apple.wifi-xpc</string>
	<string>com.apple.wifi.sharekit</string>
	<string>com.apple.wifi.useragent</string>
	<string>com.apple.wifianalyticsd</string>
	<string>com.apple.wifianalyticsd.devicestore</string>
	<string>com.apple.wifip2pd</string>
	<string>com.apple.wifivelocityd</string>
	<string>com.apple.windowserver</string>
	<string>com.apple.windowserver.active</string>
	<string>com.apple.windowserver.watchdog</string>
	<string>com.apple.WirelessCoexManager</string>
	<string>com.apple.wirelessproxd</string>
	<string>com.apple.WirelessRadioManager</string>
	<string>com.apple.xpc.activity.control</string>
	<string>com.apple.xpc.activity.unmanaged</string>
	<string>com.apple.xpc.launchd.domain.system</string>
	<string>com.apple.xpc.roleaccountd</string>
	<string>com.apple.xpc.smd</string>
	<string>com.apple.xpc.smd</string>
	<string>com.apple.XprotectFramework.PluginService</string>
	<string>com.apple.ak.anisette</string>
	<string>com.apple.ak.auth</string>
	<string>com.apple.amfi</string>
	<string>com.apple.appstored</string>
	<string>com.apple.backupd</string>
	<string>com.apple.backupd.sandbo</string>
	<string>com.apple.backupd.session</string>
	<string>com.apple.backupd.status</string>
	<string>com.apple.bluetooth</string>
	<string>com.apple.bluetooth.cloudkit</string>
	<string>com.apple.BTAudioHALPlugin</string>
	<string>com.apple.BTLEAudioController</string>
	<string>com.apple.BTLELoggingManager</string>
	<string>com.apple.continuitycaptureaudio.providerhelper</string>
	<string>com.apple.continuitycaptureaudio.receiverhelper</string>
	<string>com.apple.coremedia.bufferedairplayglobalroutingregistry</string>
	<string>com.apple.coremedia.endpoint</string>
	<string>com.apple.coremedia.endpointmanager</string>
	<string>com.apple.coremedia.endpointpicker</string>
	<string>com.apple.coremedia.endpointplaybacksession</string>
	<string>com.apple.coremedia.endpointremotecontrolsession</string>
	<string>com.apple.coremedia.endpointstream</string>
	<string>com.apple.coremedia.endpointstreamaudioengine</string>
	<string>com.apple.coremedia.endpointuiagent</string>
	<string>com.apple.coremedia.routediscoverer</string>
	<string>com.apple.coremedia.routingcontext</string>
	<string>com.apple.coremedia.samplebufferconsumer</string>
	<string>com.apple.coremedia.systemcontroller</string>
	<string>com.apple.coremedia.volumecontroller</string>
	<string>com.apple.coreservices.sharedfilelistd</string>
	<string>com.apple.diskimagesiod</string>
	<string>com.apple.diskimagesiod.ram</string>
	<string>com.apple.diskimagesiod.spb</string>
	<string>com.apple.endpointsecurity.endpointsecurityd</string>
	<string>com.apple.idleassetsd</string>
	<string>com.apple.InstallProgress</string>
	<string>com.apple.mediaexperience.xctest</string>
	<string>com.apple.mediaremoted</string>
	<string>com.apple.metadata.mds.inde</string>
	<string>com.apple.mobile.keybagd</string>
	<string>com.apple.mobile.keybagd.UserManager</string>
	<string>com.apple.mobile.storage_mounter</string>
	<string>com.apple.mobile.usermanagerd</string>
	<string>com.apple.mobilegestalt</string>
	<string>com.apple.online-auth-agent</string>
	<string>com.apple.powerlog.plxpclogger</string>
	<string>com.apple.powerlogd.XPCService</string>
	<string>com.apple.powerlogHelperd.XPCService</string>
	<string>com.apple.security.crypte</string>
	<string>com.apple.server.bluetooth.bbprovider</string>
	<string>com.apple.server.bluetooth.classi</string>
	<string>com.apple.server.bluetooth.general</string>
	<string>com.apple.server.bluetooth.le.att</string>
	<string>com.apple.server.bluetooth.le.pipe</string>
	<string>com.apple.sysdiagnose.service</string>
	<string>com.apple.system.hdiejectd</string>
	<string>com.apple.timed</string>
</array>
</plist>
